@mixin max($width) {
	$width: _get-media-width($width, true);
	@media only screen and (max-width: $width + 'px') {
		@content;
	}
}

@mixin min($width) {
	$width: _get-media-width($width,false);
	@media only screen and (min-width: $width + 'px') {
		@content;
	}
}

@mixin minmax($minwidth, $maxwidth) {
	$minwidth: _get-media-width($minwidth,false);
	$maxwidth: _get-media-width($maxwidth,false);
	@media only screen and (min-width: $minwidth + 'px') and (max-width: $maxwidth + 'px') {
		@content;
	}
}