.header{
	padding-top: 38px;
	@include max(md){
		padding-top: 20px;
	}
	@include max(sm){
		padding-top: 0;
	}
	.container{
		@include max(sm){
			padding: 0;
		}
	}
	&__inner{}
	&__top{
		background: #fff;
		border-radius: 32px 32px 0 0;
		border-bottom: 1px solid #EAEFF1;
		position: relative;
		z-index: 3;
		display: flex;
		@include max(1100){
			border-radius: 25px 25px 0 0;
		}
		@include max(sm){
			border-radius: 0;
		}
		&-right{
			list-style: none;
			display: flex;
			li{
				padding: 10px 18px;
				display: flex;
				align-content: center;
				align-items: center;
				border-left: 1px solid #EAEFF1;
				a{
					@extend .fs20;
					@extend .link;
					color: #9BA3A8;
					@include max(cnt){
						font-size: 16px;
					}
					svg, img{
						width: 36px;
						height: 36px;
						display: block;
						object-fit: contain;
						flex-shrink: 0;
					}
				}
			}
		}
	}
	&__profile{
		padding: 10px 27px 10px 30px;
		border-right: 1px solid #EAEFF1;
		display: flex;
		align-items: center;
		@include max(lg){
			padding: 10px 18px 10px 30px
		}
		@include max(sm){
			display: none;
		}
		a{
			display: flex;
			align-items: center;
			@extend .fs20;
			@extend .link;
			@include max(cnt){
				font-size: 16px;
			}
			svg, img{
				width: 18px;
				height: 18px;
				display: block;
				object-fit: contain;
				margin-left: 15px;
				flex-shrink: 0;
			}
		}
	}
	&__burger{
		flex-grow: 1;
		@include min(lg){
			display: none;
		}
		&-inner{
			cursor: pointer;
			height: 100%;
			width: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			span{
				&,
				&::before,
				&::after {
					display: block;
					background-color: $mainColor;
					position: absolute;
					height: 4px;
					width: 30px;
					transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
					border-radius: 2px;
				}

				&::before {
					content: '';
					margin-top: -8px;
				}

				&::after {
					content: '';
					margin-top: 8px;
				}
			}
		}
	}
	&__menu{
		list-style: none;
		flex-grow: 1;
		display: flex;
		align-items: center;
		padding: 10px 30px;
		@include max(lg){
			display: none;
		}
		li{
			+ li {
				margin-left: 34px;
				@include max(cnt){
					margin-left: 24px;
				}
			}
			a{
				@extend .fs20;
				@extend .link;
				@include max(cnt){
					font-size: 16px;
				}
			}
		}
	}
	&__content{
		background: #fff;
		border-radius: 0 0 32px 32px;
		z-index: 2;
		position: relative;
		padding: 23px 30px 41px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include max(lg){
			padding: 15px 30px 15px;
		}
		@include max(1100){
			border-radius: 0 0 25px 25px;
		}
		@include max(md){
			padding: 10px 17px 10px;
		}
	}

	&__logo{
		width: 330px;
		height: 60px;
		flex-shrink: 0;
		color: $mainColor;
		@include max(cnt){
			width: 270px;
			height: 50px;
		}
		@include max(sm){
			width: 183px;
			height: 34px;
		}
		img, svg{
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: left center;
			display: block;
		}
	}
	&__emails,
	&__phones{
		list-style: none;
		display: flex;
		flex-direction: column;
		padding-left: 37px;
		position: relative;
		margin: 0 10px;
		@include max(lg){
			display: none;
		}
		&::before{
			content: "";
			display: block;
			width: 26px;
			height: 26px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		li {
			@extend .fs20;
			@include max(cnt){
				font-size: 16px;
			}
			a{
				@extend .link;
			}
		}
	}
	&__emails{
		&::before{
			background-image: url("../img/sprites/sprite.svg#sms");
		}
	}
	&__phones{
		white-space: nowrap;
		&::before{
			background-image: url("../img/sprites/sprite.svg#call");
		}
	}
	&__social{
		display: flex;
		align-items: center;
		list-style: none;
		flex-wrap: wrap;
		justify-content: center;
		@include max(lg){
			display: none;
		}
		li{
			margin: 0 10px;
			@include max(cnt){
				margin: 0 7px;
			}
			a{
				@extend .link;
				color: #E8EBEF;
				svg, img{
					width: 25px;
					height: 26px;
					object-fit: contain;
					display: block;
				}
			}
		}
	}
	&__callback-mob{
		width: 50px;
		height: 50px;
		cursor: pointer;
		margin-right: 20px;
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		@include min(md){
			display: none;
		}
		@include max(sm){
			margin-right: 10px;
		}
		svg, img{
			width: 70%;
			height: 70%;
			display: block;
			object-fit: contain;
		}
	}
	&__btn{
		@include max(cnt){
			padding: 14px 17px;
			font-size: 18px;
		}
		@include max(lg){
			margin-left: auto;
			padding: 24px 34px;
			font-size: 20px;
			margin-right: 23px;
		}
		@include max(md){
			display: none;
		}
	}
	&__cart{
		$self: &;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		text-decoration: none;
		background: $mainColor01;
		position: relative;
		width: 66px;
		height: 66px;
		transition: background-color 0.2s;
		flex-shrink: 0;
		@include max(md){
			width: 50px;
			height: 50px;
		}
		&-icon{
			color: $mainColor;
			svg, img{
				width: 25px;
				height: 25px;
				display: block;
				object-fit: contain;
				@include max(md){
					width: 18px;
					height: 18px;
				}
			}
		}
		&-count{
			border-radius: 50%;
			border: 2px solid #ffffff;
			color: #ffffff;
			background: $orange;
			min-width: 22px;
			height: 22px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 11px;
			line-height: 1;
			position: absolute;
			right: 0;
			top: 0;
			transition: color 0.2s;
			box-sizing: border-box;
		}
		&:hover{
			background: $mainColor;
			#{$self}-icon{
				color: #ffffff;
			}
		}
	}

	&__bottom{
		background: $mainColor;
		border-radius: 0 0 32px 32px;
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		@include max(1100){
			border-radius: 0 0 25px 25px;
		}
		&::before{
			content: "";
			width: 100%;
			height: 50px;
			display: block;
			position: absolute;
			bottom: 100%;
			left: 0;
			background: #193762;
		}
		&-menu{
			display: flex;
			list-style: none;
			padding: 4px;
			li{
				padding: 5px;
				display: flex;
				a{
					@extend .fs20;
					background: rgba(255, 255, 255, 0.1);
					color: #ffffff;
					text-decoration: none;
					display: flex;
					align-items: center;
					padding: 10px 20px;
					min-width: 181px;
					min-height: 70px;
					box-sizing: border-box;
					border-radius: 21px;
					transition: background-color 0.2s;
					@include max(md){
						min-width: 40px;
						min-height: 40px;
						border-radius: 10px;
						padding: 10px;
					}
					@include max(sm){
						min-width: 40px;
						min-height: 40px;
					}
					svg, img{
						width: 32px;
						height: 32px;
						display: block;
						object-fit: contain;
						margin-right: 18px;
						color: $orange;
						transition: color 0.2s;
						flex-shrink: 0;
						@include max(md){
							margin-right: 0;
						}
						@include max(sm){
							width: 25px;
							height: 25px;
						}
					}
					&:hover{
						background: $orange;
						svg{
							color: #ffffff;
						}
					}
					span{
						@include max(md){
							display: none;
						}
					}
				}

			}
		}
		&-search{
			flex-grow: 1;
			@include max(sm){
				width: 50px;
			}
		}
	}
}

.search-form{
	display: flex;
	&__input{
		@extend .fs20;
		background: transparent;
		border: 0;
		outline: none;
		flex-grow: 1;
		text-indent: 15px;
		color: #ffffff;
		&::placeholder{
			color: rgba(255, 255, 255, 0.2);
		}
		@include max(sm){
			text-indent: 0;
			width: 100%;
		}
		@include max(sm){
			font-size: 14px;
		}
	}
	&__button{
		background: transparent;
		border: 0;
		outline: none;
		border-left: 1px solid #435c7e;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		color: #ffffff;
		transition: color 0.2s;
		padding: 10px 32px 15px;
		@include max(md){
			padding: 10px 23px 15px;
		}
		@include max(sm){
			padding: 5px 15px 9px;
		}
		svg, img{
			width: 22px;
			height: 22px;
			display: block;
			object-fit: contain;
			flex-shrink: 0;
		}
		&:hover{
			color: $orange;
		}
	}
}