.header{
	padding-top: 38px;
	@include minmax(xl, dsk) {
		padding-top: vw(38);
	}
	@include max(md){
		padding-top: 20px;
	}
	@include max(sm){
		padding-top: 0;
	}
	.container{
		@include max(sm){
			padding: 0;
		}
	}
	&__inner{
		/*overflow: hidden;*/
	}
	&__top{
		background: #fff;
		border-radius: 32px 32px 0 0;
		border-bottom: 1px solid #EAEFF1;
		position: relative;
		z-index: 3;
		display: flex;
		@include minmax(xl, dsk) {
			border-radius: vw(32) vw(32) 0 0;
		}
		@include max(1100){
			border-radius: 25px 25px 0 0;
		}
		@include max(sm){
			border-radius: 0;
		}
		&-right{
			list-style: none;
			display: flex;
			li{
				padding: 10px 18px;
				display: flex;
				align-content: center;
				align-items: center;
				border-left: 1px solid #EAEFF1;
				@include minmax(xl, dsk) {
					padding: vw(10) vw(18);
				}
				a{
					@extend .fs20;
					@extend .link;
					color: #9BA3A8;
					@include max(xl){
						font-size: 16px;
					}
					svg, img{
						width: 36px;
						height: 36px;
						display: block;
						object-fit: contain;
						flex-shrink: 0;
						@include minmax(xl, dsk) {
							width: vw(36);
							height: vw(36);
						}
					}
				}
			}
		}
	}
	&__profile{
		padding: 10px 27px 10px 30px;
		border-right: 1px solid #EAEFF1;
		display: flex;
		align-items: center;
		@include minmax(xl, dsk) {
			padding: vw(10) vw(27) vw(10) vw(30);
		}
		@include max(lg){
			padding: 10px 18px 10px 30px
		}
		@include max(sm){
			display: none;
		}
		a{
			display: flex;
			align-items: center;
			@extend .fs20;
			@extend .link;
			@include max(xl){
				font-size: 16px;
			}
			svg, img{
				width: 18px;
				height: 18px;
				display: block;
				object-fit: contain;
				margin-left: 15px;
				flex-shrink: 0;
				@include minmax(xl, dsk) {
					width: vw(18);
					height: vw(18);
					margin-left: vw(15);
				}
			}
		}
	}
	&__burger{
		flex-grow: 1;
		@include min(lg){
			display: none;
		}
		&-inner{
			cursor: pointer;
			height: 100%;
			width: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			@include minmax(xl, dsk) {
				width: vw(70);
			}
			span{
				&,
				&::before,
				&::after {
					display: block;
					background-color: $mainColor;
					position: absolute;
					height: 4px;
					width: 30px;
					transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
					border-radius: 2px;
					@include minmax(xl, dsk) {
						height: vw(4);
						width: vw(30);
						border-radius: vw(2);
					}
				}

				&::before {
					content: '';
					margin-top: -8px;
					@include minmax(xl, dsk) {
						margin-top: vw(-8);
					}
				}

				&::after {
					content: '';
					margin-top: 8px;
					@include minmax(xl, dsk) {
						margin-top: vw(8);
					}
				}
			}
			&:hover{
				span{
					&,
					&::before,
					&::after {
						background-color: $orange;
					}
				}
			}
		}
	}
	&__menu{
		list-style: none;
		flex-grow: 1;
		display: flex;
		align-items: center;
		padding: 10px 30px;
		white-space: nowrap;
		overflow: hidden;
		@include minmax(xl, dsk) {
			padding: vw(10) vw(30);
		}
		@include max(lg){
			display: none;
		}
		li{
			+ li {
				margin-left: 34px;
				@include minmax(xl, dsk) {
					margin-left: vw(34);
				}
				@include max(xl){
					margin-left: 24px;
				}
			}
			a{
				@extend .fs20;
				@extend .link;
				@include max(xl){
					font-size: 16px;
				}
			}
		}
	}
	&__content{
		background: #fff;
		border-radius: 0 0 32px 32px;
		z-index: 2;
		position: relative;
		padding: 23px 30px 41px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		//overflow: hidden;
		@include minmax(xl, dsk) {
			border-radius: 0 0 vw(32) vw(32);
			padding: vw(23) vw(30) vw(41);
		}
		@include max(lg){
			padding: 15px 30px 15px;
		}
		@include max(1100){
			border-radius: 0 0 25px 25px;
		}
		@include max(md){
			padding: 10px 17px 10px;
		}
	}

	&__logo{
		width: 330px;
		height: 60px;
		flex-shrink: 0;
		color: $mainColor;
		@include minmax(xl, dsk) {
			width: vw(330);
			height: vw(60);
		}
		@include max(xl){
			width: 270px;
			height: 50px;
		}
		@include max(sm){
			width: 183px;
			height: 34px;
		}
		img, svg{
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: left center;
			display: block;
		}
	}
	&__emails,
	&__phones{
		list-style: none;
		display: flex;
		flex-direction: column;
		padding-left: 37px;
		position: relative;
		margin: 0 10px;
		@include minmax(xl, dsk) {
			padding-left: vw(37);
			margin: 0 vw(10);
		}
		@include max(lg){
			display: none;
		}
		&::before{
			content: "";
			display: block;
			width: 26px;
			height: 26px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			@include minmax(xl, dsk) {
				width: vw(26);
				height: vw(26);
			}
		}
	}
	&__emails{
		&::before{
			background-image: url("../img/sprites/sprite.svg#sms");
		}
		li {
			@extend .fs20;
			@include max(xl){
				font-size: 16px;
			}
			a{
				@extend .link;
			}
		}
	}
	&__phones{
		white-space: nowrap;
		padding-right: 25px;
		@include minmax(xl, dsk) {
			padding-right: vw(25);
		}
		&::before{
			background-image: url("../img/sprites/sprite.svg#call");
		}
		&::after{
			content: "";
			display: block;
			width: 15px;
			height: 15px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url("../img/sprites/sprite.svg#filter-select-arrow");
			@include minmax(xl, dsk) {
				width: vw(15);
				height: vw(15);
			}
		}
		&-main {
			@extend .fs20;
			@include max(xl){
				font-size: 16px;
			}
			a{
				@extend .link;
				span {
					display: block;
					font-size: 0.8em;
				}
			}
		}
		&-dropdown{
			display: none;
			position: absolute;
			top: 100%;
			width: 100%;
			background: #fff;
			padding: 12px 10px 10px;
			box-sizing: content-box;
			right: -10px;
			text-align: right;
			border-radius: 0 0 10px 10px;
			@include minmax(xl, dsk) {
				right: vw(-10);
				padding: vw(12) vw(10) vw(10);
				border-radius: 0 0 vw(10) vw(10) ;
			}
			ul {
				li {
					padding-right: 25px;
					@extend .fs20;
					@include minmax(xl, dsk) {
						padding-right: vw(25);
					}
					@include max(xl){
						font-size: 16px;
					}
					&:not(:first-child){
						margin-top: 12px;
						@include minmax(xl, dsk) {
							margin-top: vw(12);
						}
					}
					a{
						@extend .link;
						span {
							display: block;
							font-size: 0.8em;
						}
					}
				}
			}
		}
	}
	&__social{
		display: flex;
		align-items: center;
		list-style: none;
		flex-wrap: wrap;
		justify-content: center;
		@include max(lg){
			display: none;
		}
		li{
			margin: 0 10px;
			@include minmax(xl, dsk) {
				margin: 0 vw(10);
			}
			@include max(xl){
				margin: 0 7px;
			}
			a{
				@extend .link;
				color: #E8EBEF;
				svg, img{
					width: 25px;
					height: 26px;
					object-fit: contain;
					display: block;
					@include minmax(xl, dsk) {
						width: vw(25);
						height: vw(26);
					}
				}
			}
		}
	}
	&__callback-mob{
		width: 50px;
		height: 50px;
		cursor: pointer;
		margin-right: 20px;
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		@include minmax(xl, dsk) {
			width: vw(50);
			height: vw(50);
			margin-right: vw(20);
		}
		@include min(md){
			display: none;
		}
		@include max(sm){
			margin-right: 10px;
		}
		svg, img{
			width: 70%;
			height: 70%;
			display: block;
			object-fit: contain;
		}
	}
	&__btn{
		@include max(xl){
			padding: 14px 17px;
			font-size: 18px;
		}
		@include max(lg){
			margin-left: auto;
			padding: 24px 34px;
			font-size: 20px;
			margin-right: 23px;
		}
		@include max(md){
			display: none;
		}
	}
	&__cart{
		$self: &;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		text-decoration: none;
		background: $mainColor01;
		position: relative;
		width: 66px;
		height: 66px;
		transition: background-color 0.2s;
		flex-shrink: 0;
		@include minmax(xl, dsk) {
			width: vw(66);
			height: vw(66);
		}
		@include max(md){
			width: 50px;
			height: 50px;
		}
		&-icon{
			color: $mainColor;
			svg, img{
				width: 25px;
				height: 25px;
				display: block;
				object-fit: contain;
				@include minmax(xl, dsk) {
					width: vw(25);
					height: vw(25);
				}
				@include max(md){
					width: 18px;
					height: 18px;
				}
			}
		}
		&-count{
			border-radius: 50%;
			border: 2px solid #ffffff;
			color: #ffffff;
			background: $orange;
			min-width: 22px;
			height: 22px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 11px;
			line-height: 1;
			position: absolute;
			right: 0;
			top: 0;
			transition: color 0.2s;
			box-sizing: border-box;
			@include minmax(xl, dsk) {
				border: vw(2) solid #ffffff;
				min-width: vw(22);
				height: vw(22);
				font-size: vw(11);
			}
		}
		&:hover{
			background: $mainColor;
			#{$self}-icon{
				color: #ffffff;
			}
		}
	}

	&__bottom{
		background: $mainColor;
		border-radius: 0 0 32px 32px;
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		@include minmax(xl, dsk) {
			border-radius: 0 0 vw(32) vw(32);
		}
		@include max(1100){
			border-radius: 0 0 25px 25px;
		}
		&::before{
			content: "";
			width: 100%;
			height: 50px;
			display: block;
			position: absolute;
			bottom: 100%;
			left: 0;
			background: #193762;
			@include minmax(xl, dsk) {
				height: vw(50);
			}
		}
		&-menu{
			display: flex;
			list-style: none;
			padding: 4px;
			@include minmax(xl, dsk) {
				padding: vw(4);
			}
			li{
				padding: 5px;
				display: flex;
				@include minmax(xl, dsk) {
					padding: vw(5);
				}
				a{
					@extend .fs20;
					background: rgba(255, 255, 255, 0.1);
					color: #ffffff;
					text-decoration: none;
					display: flex;
					align-items: center;
					padding: 10px 20px;
					min-width: 181px;
					min-height: 70px;
					box-sizing: border-box;
					border-radius: 21px;
					transition: background-color 0.2s;
					@include minmax(xl, dsk) {
						padding: vw(10) vw(20);
						min-width: vw(181);
						min-height: vw(70);
						border-radius: vw(21);
					}
					@include max(md){
						min-width: 40px;
						min-height: 40px;
						border-radius: 10px;
						padding: 10px;
					}
					@include max(sm){
						min-width: 40px;
						min-height: 40px;
					}
					svg, img{
						width: 32px;
						height: 32px;
						display: block;
						object-fit: contain;
						margin-right: 18px;
						color: $orange;
						transition: color 0.2s;
						flex-shrink: 0;
						@include minmax(xl, dsk) {
							width: vw(32);
							height: vw(32);
							margin-right: vw(18);
						}
						@include max(md){
							margin-right: 0;
						}
						@include max(sm){
							width: 25px;
							height: 25px;
						}
					}
					&:hover{
						background: $orange;
						svg{
							color: #ffffff;
						}
					}
					span{
						@include max(md){
							display: none;
						}
					}
				}

			}
		}
		&-search{
			flex-grow: 1;
			@include max(sm){
				width: 50px;
			}
		}
	}
}

.search-form{
	display: flex;
	&__input{
		@extend .fs20;
		background: transparent;
		border: 0;
		outline: none;
		flex-grow: 1;
		text-indent: 15px;
		color: #ffffff;
		@include minmax(xl, dsk) {
			text-indent: vw(15);
		}
		&::placeholder{
			color: rgba(255, 255, 255, 0.2);
		}
		@include max(sm){
			text-indent: 0;
			width: 100%;
		}
		@include max(sm){
			font-size: 14px;
		}
	}
	&__button{
		background: transparent;
		border: 0;
		outline: none;
		border-left: 1px solid #435c7e;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		color: #ffffff;
		transition: color 0.2s;
		padding: 10px 32px 15px;
		@include minmax(xl, dsk) {
			padding: vw(10) vw(32) vw(15);
		}
		@include max(md){
			padding: 10px 23px 15px;
		}
		@include max(sm){
			padding: 5px 15px 9px;
		}
		svg, img{
			width: 22px;
			height: 22px;
			display: block;
			object-fit: contain;
			flex-shrink: 0;
			@include minmax(xl, dsk) {
				width: vw(22);
				height: vw(22);
			}
		}
		&:hover{
			color: $orange;
		}
	}
}


.menu-overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #193762;
	z-index: 9999;
	opacity: 0.7;
	pointer-events: none;
	display: none;
	&._active{
		pointer-events: auto;
	}
}
.header-mob-menu{
	$self: &;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: #FFFFFF;
	transform: translateX(-100%);
	width: 468px;
	max-width: calc(100% - 81px);
	z-index: 10000;
	transition: transform 0.3s linear;
	border-radius: 0 42px 42px 0;
	@include minmax(xl, dsk) {
		width: vw(468);
		max-width: calc(100% - vw(81));
		border-radius: 0 vw(42) vw(42) 0;
	}
	@include min(lg){
		display: none;
	}
	@include max(md){
		border-radius: 0 25px 25px 0;
		width: 400px;
	}
	@include max(sm){
		max-width: calc(100% - 50px);
	}
	&__close{
		@extend .link;
		position: absolute;
		right: 0;
		top: 22px;
		width: 58px;
		height: 58px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		overflow: hidden;
		background: #FFFFFF;
		transition: right 0.2s linear;
		@include minmax(xl, dsk) {
			top: vw(22);
			width: vw(58);
			height: vw(58);
		}
		@include max(sm){
			top: 10px;
			width: 40px;
			height: 40px;
		}
		svg, img{
			display: block;
			width: 12px;
			height: 12px;
			object-fit: contain;
			@include minmax(xl, dsk) {
				width: vw(12);
				height: vw(12);
			}
		}
	}
	&._active{
		transform: translateX(0);
		#{$self}__close{
			right: -81px;
			@include max(sm){
				right: -45px;
			}
		}
	}
	&__inner{
		overflow: auto;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 32px 15px;
		@include minmax(xl, dsk) {
			padding: vw(32) vw(15);
		}
		@include max(sm){
			padding: 20px 10px;
		}
	}
	&__menu{
		li{
			a{
				@extend .fs20;
				font-weight: 500;
				color: $mainColor;
				text-decoration: none;
				padding: 20px;
				display: block;
				border-radius: 21px;
				overflow: hidden;
				@include minmax(xl, dsk) {
					padding: vw(20);
					border-radius: vw(21);
				}
				@include max(sm){
					padding: 12px;
					border-radius: 12px;
				}
				&:hover{
					background: rgba($mainColor, 0.1);
				}
			}
		}
	}
	&__contacts{
		&:not(:first-child){
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid #EAEFF1;
			@include minmax(xl, dsk) {
				margin-top: vw(20);
				padding-top: vw(20);
			}
			@include max(sm){
				margin-top: 15px;
				padding-top: 15px;
			}
		}
	}
	&__profile{
		display: flex;
		align-items: center;
		&:not(:last-child){
			margin-bottom: 10px;
			@include minmax(xl, dsk) {
				margin-bottom: vw(10);
			}
		}
		a{
			@extend .fs20;
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $mainColor;
			border-radius: 21px;
			overflow: hidden;
			padding: 20px;
			width: 100%;
			@include minmax(xl, dsk) {
				border-radius: vw(21);
				padding: vw(20);
			}
			@include max(sm){
				padding: 12px;
				border-radius: 12px;
			}
			&:hover{
				background: rgba($mainColor, 0.1);
			}
			svg, img{
				width: 18px;
				height: 18px;
				display: block;
				object-fit: contain;
				margin-right: 15px;
				flex-shrink: 0;
				@include minmax(xl, dsk) {
					width: vw(18);
					height: vw(18);
					margin-right: vw(15);
				}
			}
		}
	}
	&__emails,
	&__phones{
		list-style: none;
		display: flex;
		flex-direction: column;
		position: relative;
		padding-left: 56px;
		@include minmax(xl, dsk) {
			padding-left: vw(56);
		}
		@include max(sm){
			padding-left: 46px;
		}
		&:not(:first-child){
			margin-top: 20px;
			@include minmax(xl, dsk) {
				margin-top: vw(20);
			}
		}
		&::before{
			content: "";
			display: block;
			width: 26px;
			height: 26px;
			position: absolute;
			left: 20px;
			top: 0;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			@include minmax(xl, dsk) {
				width: vw(26);
				height: vw(26);
				left: vw(20);
			}
			@include max(md){
				top: -0.2em;
			}
			@include max(sm){
				left: 12px;
				width: 20px;
				height: 20px;
				top: 0;
			}
		}
		li {
			@extend .fs20;
			&:not(:first-child){
				margin-top: 10px;
				@include minmax(xl, dsk) {
					margin-top: vw(10);
				}
			}
			a{
				@extend .link;
			}
		}
	}
	&__emails{
		&::before{
			background-image: url("../img/sprites/sprite.svg#sms");
		}
	}
	&__phones{
		white-space: nowrap;
		&::before{
			background-image: url("../img/sprites/sprite.svg#call");
		}
	}
	&__social{
		display: flex;
		align-items: center;
		list-style: none;
		flex-wrap: wrap;
		&:not(:first-child){
			margin-top: 30px;
			@include minmax(xl, dsk) {
				margin-top: vw(30);
			}
		}
		li{
			margin: 0 20px;
			@include minmax(xl, dsk) {
				margin: 0 vw(20);
			}
			a{
				@extend .link;
				svg, img{
					width: 40px;
					height: 40px;
					object-fit: contain;
					display: block;
					@include minmax(xl, dsk) {
						width: vw(40);
						height: vw(40);
					}
				}
			}
		}
	}
}