

.modal-menu.js-catalog-modal
	.modal-menu__overlay
	.modal-menu__wrapper
		.modal-menu__sections
			.modal-menu__title Каталог товаров
			button.modal-menu__section.js-catalog-modal--section(data-section="1")
				span Анестезиология и реанимация
				svg
					use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
			button.modal-menu__section.js-catalog-modal--section(data-section="2")
				span Анестезиология и реанимация 2
				svg
					use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
			button.modal-menu__section.js-catalog-modal--section(data-section="3")
				span Анестезиология и реанимация 3
				svg
					use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
		
		.modal-menu__items
			.modal-menu__items-container.js-catalog-modal--items(data-section-items="1")
				button.modal-menu__item.js-catalog-modal--item(data-product="1")
					span Мониторы
				button.modal-menu__item.js-catalog-modal--item(data-product="2")
					span Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="3")
					span Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="4")
					span Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="5")
					span Расходные материалы
		
		.modal-menu__details
			.modal-menu__detail.js-catalog-modal--detail(data-product-detail="1")
				.modal-menu__detail-picture
					img(src="img/catalog/modal-menu.png" alt="")
				a.modal-menu__detail-title(href='#') Монитор пациента Mindray BeneView T9 OR
				.modal-menu__detail-text Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1
		
		button.modal-menu__close.js-catalog-modal--close
			svg
				use(xlink:href="img/sprites/sprite.svg#basket-remove")


.modal-menu.js-brands-modal
	.modal-menu__overlay
	.modal-menu__wrapper
		.modal-menu__sections
			.modal-menu__title Бренды
			.modal-menu__letter M
			button.modal-menu__section.js-brands-modal--section(data-section="1")
				span Mindray
				svg
					use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
			button.modal-menu__section.js-brands-modal--section(data-section="2")
				span Mindray
				svg
					use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
			button.modal-menu__section.js-brands-modal--section(data-section="3")
				span Mindray
				svg
					use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
			.modal-menu__letter.modal-menu__letter--space A
			button.modal-menu__section.js-brands-modal--section(data-section="3")
				span Andray
				svg
					use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
		
		.modal-menu__items
			.modal-menu__items-container.js-brands-modal--items(data-section-items="1")
				a.modal-menu__item(href="#")
					span BeneView T9 OR
				a.modal-menu__item(href="#")
					span Расходные материалы
				a.modal-menu__item(href="#")
					span Расходные материалы
				a.modal-menu__item(href="#")
					span Расходные материалы
				a.modal-menu__item(href="#")
					span Расходные материалы
		
		.modal-menu__details
			.modal-menu__detail.js-brands-modal--detail(data-detail="1")
				.modal-menu__detail-picture
					img(src="img/modal-brand.png" alt="")
				a.modal-menu__detail-title(href='#') Компания Mindray
				.modal-menu__detail-text Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1
				a.btn-arrow.btn-arrow--blue.modal-menu__detail-btn(href="#")
					span
						span Подробнее
					svg
						use(xlink:href="img/sprites/sprite.svg#btn-arrow")

		button.modal-menu__close.js-brands-modal--close
			svg
				use(xlink:href="img/sprites/sprite.svg#basket-remove")