

.modal-menu.js-catalog-modal
	.modal-menu__overlay
	.modal-menu__wrapper
		.modal-menu__sections
			.modal-menu__sections-wrapper
				.modal-menu__title Каталог товаров
				button.modal-menu__section.js-catalog-modal--section(data-section="1") Анестезиология и реанимация
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-catalog-modal--section(data-section="1") Анестезиология и реанимация
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-catalog-modal--section(data-section="1") Анестезиология и реанимация
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-catalog-modal--section(data-section="1") Анестезиология и реанимация
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-catalog-modal--section(data-section="1") Анестезиология и реанимация
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-catalog-modal--section(data-section="1") Анестезиология и реанимация
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-catalog-modal--section(data-section="1") Анестезиология и реанимация
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")

			.modal-menu__mobile
				.modal-menu__title Каталог товаров
				.modal-menu__mobile-sections.js-catalog-mobile--sections
					button.modal-menu__mobile-item.js-catalog-mobile--section(data-section='1') Анестезиология и реанимация
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-catalog-mobile--section(data-section='2') Анестезиология 123  и реанимация 2
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-catalog-mobile--section(data-section='3') Анестезиология и aslkdjaalskdja реанимация 3
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-catalog-mobile--section(data-section='4') Анестезиология и реанимация 4
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-catalog-mobile--section(data-section='5') Анестезиология и реанимация 5
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-catalog-mobile--section(data-section='6') Анестезиология и реанимация 6
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-catalog-mobile--section(data-section='7') Анестезиология и реанимация 7
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")

				.modal-menu__mobile-products.js-catalog-mobile--products(data-products='1')
					button.modal-menu__mobile-item.modal-menu__mobile-item--back.js-catalog-mobile--back
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
						| Назад

					a.modal-menu__mobile-item(href="#") Товар 1
					a.modal-menu__mobile-item(href="#") Товар 2
					a.modal-menu__mobile-item(href="#") Товар 3
					a.modal-menu__mobile-item(href="#") Товар 4
					a.modal-menu__mobile-item(href="#") Товар 5
					a.modal-menu__mobile-item(href="#") Товар 6
					a.modal-menu__mobile-item(href="#") Товар 7
					a.modal-menu__mobile-item(href="#") Товар 8
					a.modal-menu__mobile-item(href="#") Товар 9
					a.modal-menu__mobile-item(href="#") Товар 10
					a.modal-menu__mobile-item(href="#") Товар 11
					a.modal-menu__mobile-item(href="#") Товар 12
					a.modal-menu__mobile-item(href="#") Товар 13
					a.modal-menu__mobile-item(href="#") Товар 14

				.modal-menu__mobile-products.js-catalog-mobile--products(data-products='2')
					button.modal-menu__mobile-item.modal-menu__mobile-item--back.js-catalog-mobile--back
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
						| Назад

					a.modal-menu__mobile-item(href="#") Товар 1
					a.modal-menu__mobile-item(href="#") Товар 2
					a.modal-menu__mobile-item(href="#") Товар 3
					a.modal-menu__mobile-item(href="#") Товар 4
					a.modal-menu__mobile-item(href="#") Товар 5
					a.modal-menu__mobile-item(href="#") Товар 6
					a.modal-menu__mobile-item(href="#") Товар 7
					a.modal-menu__mobile-item(href="#") Товар 8
					a.modal-menu__mobile-item(href="#") Товар 9
					a.modal-menu__mobile-item(href="#") Товар 10
					a.modal-menu__mobile-item(href="#") Товар 11
					a.modal-menu__mobile-item(href="#") Товар 12
					a.modal-menu__mobile-item(href="#") Товар 13
					a.modal-menu__mobile-item(href="#") Товар 14

				.modal-menu__mobile-products.js-catalog-mobile--products(data-products='3')
					button.modal-menu__mobile-item.modal-menu__mobile-item--back.js-catalog-mobile--back
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
						| Назад

					a.modal-menu__mobile-item(href="#") Товар 1
					a.modal-menu__mobile-item(href="#") Товар 2
					a.modal-menu__mobile-item(href="#") Товар 3
					a.modal-menu__mobile-item(href="#") Товар 4
					a.modal-menu__mobile-item(href="#") Товар 5
					a.modal-menu__mobile-item(href="#") Товар 6
					a.modal-menu__mobile-item(href="#") Товар 7
					a.modal-menu__mobile-item(href="#") Товар 8
					a.modal-menu__mobile-item(href="#") Товар 9
					a.modal-menu__mobile-item(href="#") Товар 10
					a.modal-menu__mobile-item(href="#") Товар 11
					a.modal-menu__mobile-item(href="#") Товар 12
					a.modal-menu__mobile-item(href="#") Товар 13
					a.modal-menu__mobile-item(href="#") Товар 14

				.modal-menu__mobile-products.js-catalog-mobile--products(data-products='4')
					button.modal-menu__mobile-item.modal-menu__mobile-item--back.js-catalog-mobile--back
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
						| Назад

					a.modal-menu__mobile-item(href="#") Товар 1
					a.modal-menu__mobile-item(href="#") Товар 2
					a.modal-menu__mobile-item(href="#") Товар 3
					a.modal-menu__mobile-item(href="#") Товар 4
					a.modal-menu__mobile-item(href="#") Товар 5
					a.modal-menu__mobile-item(href="#") Товар 6
					a.modal-menu__mobile-item(href="#") Товар 7
					a.modal-menu__mobile-item(href="#") Товар 8
					a.modal-menu__mobile-item(href="#") Товар 9
					a.modal-menu__mobile-item(href="#") Товар 10
					a.modal-menu__mobile-item(href="#") Товар 11
					a.modal-menu__mobile-item(href="#") Товар 12
					a.modal-menu__mobile-item(href="#") Товар 13
					a.modal-menu__mobile-item(href="#") Товар 14

		.modal-menu__items
			.modal-menu__items-container.js-catalog-modal--items(data-section-items="1")
				button.modal-menu__item.js-catalog-modal--item(data-product="1") Мониторы
				button.modal-menu__item.js-catalog-modal--item(data-product="2") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="3") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="4") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="5") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="2") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="3") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="4") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="5") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="2") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="3") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="4") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="5") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="2") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="3") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="4") Расходные материалы
				button.modal-menu__item.js-catalog-modal--item(data-product="5") Расходные материалы
		
		.modal-menu__details
			.modal-menu__detail.js-catalog-modal--detail(data-product-detail="1")
				.modal-menu__detail-picture
					img(src="img/catalog/modal-menu.png" alt="")
				a.modal-menu__detail-title(href='#') Монитор пациента Mindray BeneView T9 OR
				.modal-menu__detail-text Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1
				a.btn-arrow.btn-arrow--blue.modal-menu__detail-btn(href="#")
					span
						span Подробнее
					svg
						use(xlink:href="img/sprites/sprite.svg#btn-arrow")
			.modal-menu__detail.js-catalog-modal--detail(data-product-detail="2")
				.modal-menu__detail-picture
					img(src="img/catalog/modal-menu.png" alt="")
				a.modal-menu__detail-title(href='#') Монитор пациента Mindray BeneView T9 OR
				a.btn-arrow.btn-arrow--blue.modal-menu__detail-btn(href="#")
					span
						span Подробнее
					svg
						use(xlink:href="img/sprites/sprite.svg#btn-arrow")
			.modal-menu__detail.js-catalog-modal--detail(data-product-detail="3")
				.modal-menu__detail-picture
					img(src="img/catalog/modal-menu.png" alt="")
				a.modal-menu__detail-title(href='#') Монитор пациента Mindray BeneView T9 OR
				.modal-menu__detail-text Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1
				
			.modal-menu__detail.js-catalog-modal--detail(data-product-detail="4")
				.modal-menu__detail-picture
					img(src="img/catalog/modal-menu.png" alt="")
				a.modal-menu__detail-title(href='#') Монитор пациента Mindray BeneView T9 OR
				.modal-menu__detail-text Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1
				a.btn-arrow.btn-arrow--blue.modal-menu__detail-btn(href="#")
					span
						span Подробнее
					svg
						use(xlink:href="img/sprites/sprite.svg#btn-arrow")

		button.modal-menu__close.js-catalog-modal--close
			svg
				use(xlink:href="img/sprites/sprite.svg#basket-remove")


.modal-menu.js-brands-modal
	.modal-menu__overlay
	.modal-menu__wrapper
		.modal-menu__sections
			.modal-menu__sections-wrapper
				.modal-menu__title Бренды
				.modal-menu__letter M
				button.modal-menu__section.js-brands-modal--section(data-section="1") Mindray
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-brands-modal--section(data-section="2") Mindray
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-brands-modal--section(data-section="3") Mindray
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				.modal-menu__letter.modal-menu__letter--space A
				button.modal-menu__section.js-brands-modal--section(data-section="4") Andray
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-brands-modal--section(data-section="1") Andray 2
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-brands-modal--section(data-section="2") Andray 3
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-brands-modal--section(data-section="3") Andray 4
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				button.modal-menu__section.js-brands-modal--section(data-section="4") Andray 5
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
				
			.modal-menu__mobile
				.modal-menu__title Бренды
				.modal-menu__mobile-sections.js-brands-mobile--sections
					.modal-menu__letter M
					button.modal-menu__mobile-item.js-brands-mobile--section(data-section='1') Анестезиология и реанимация
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-brands-mobile--section(data-section='2') Анестезиология 123  и реанимация 2
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-brands-mobile--section(data-section='3') Анестезиология и aslkdjaalskdja реанимация 3
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-brands-mobile--section(data-section='4') Анестезиология и реанимация 4
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					.modal-menu__letter.modal-menu__letter--space A
					button.modal-menu__mobile-item.js-brands-mobile--section(data-section='5') Анестезиология и реанимация 5
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-brands-mobile--section(data-section='6') Анестезиология и реанимация 6
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
					button.modal-menu__mobile-item.js-brands-mobile--section(data-section='7') Анестезиология и реанимация 7
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")

				.modal-menu__mobile-products.js-brands-mobile--products(data-products='1')
					button.modal-menu__mobile-item.modal-menu__mobile-item--back.js-brands-mobile--back
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
						| Назад

					a.modal-menu__mobile-item(href="#") Товар 1
					a.modal-menu__mobile-item(href="#") Товар 2
					a.modal-menu__mobile-item(href="#") Товар 3
					a.modal-menu__mobile-item(href="#") Товар 4
					a.modal-menu__mobile-item(href="#") Товар 5
					a.modal-menu__mobile-item(href="#") Товар 6
					a.modal-menu__mobile-item(href="#") Товар 7
					a.modal-menu__mobile-item(href="#") Товар 8
					a.modal-menu__mobile-item(href="#") Товар 9
					a.modal-menu__mobile-item(href="#") Товар 10
					a.modal-menu__mobile-item(href="#") Товар 11
					a.modal-menu__mobile-item(href="#") Товар 12
					a.modal-menu__mobile-item(href="#") Товар 13
					a.modal-menu__mobile-item(href="#") Товар 14

				.modal-menu__mobile-products.js-brands-mobile--products(data-products='2')
					button.modal-menu__mobile-item.modal-menu__mobile-item--back.js-brands-mobile--back
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
						| Назад

					a.modal-menu__mobile-item(href="#") Товар 1
					a.modal-menu__mobile-item(href="#") Товар 2
					a.modal-menu__mobile-item(href="#") Товар 3
					a.modal-menu__mobile-item(href="#") Товар 4
					a.modal-menu__mobile-item(href="#") Товар 5
					a.modal-menu__mobile-item(href="#") Товар 6
					a.modal-menu__mobile-item(href="#") Товар 7
					a.modal-menu__mobile-item(href="#") Товар 8
					a.modal-menu__mobile-item(href="#") Товар 9
					a.modal-menu__mobile-item(href="#") Товар 10
					a.modal-menu__mobile-item(href="#") Товар 11
					a.modal-menu__mobile-item(href="#") Товар 12
					a.modal-menu__mobile-item(href="#") Товар 13
					a.modal-menu__mobile-item(href="#") Товар 14

				.modal-menu__mobile-products.js-brands-mobile--products(data-products='3')
					button.modal-menu__mobile-item.modal-menu__mobile-item--back.js-brands-mobile--back
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
						| Назад

					a.modal-menu__mobile-item(href="#") Товар 1
					a.modal-menu__mobile-item(href="#") Товар 2
					a.modal-menu__mobile-item(href="#") Товар 3
					a.modal-menu__mobile-item(href="#") Товар 4
					a.modal-menu__mobile-item(href="#") Товар 5
					a.modal-menu__mobile-item(href="#") Товар 6
					a.modal-menu__mobile-item(href="#") Товар 7
					a.modal-menu__mobile-item(href="#") Товар 8
					a.modal-menu__mobile-item(href="#") Товар 9
					a.modal-menu__mobile-item(href="#") Товар 10
					a.modal-menu__mobile-item(href="#") Товар 11
					a.modal-menu__mobile-item(href="#") Товар 12
					a.modal-menu__mobile-item(href="#") Товар 13
					a.modal-menu__mobile-item(href="#") Товар 14

				.modal-menu__mobile-products.js-brands-mobile--products(data-products='4')
					button.modal-menu__mobile-item.modal-menu__mobile-item--back.js-brands-mobile--back
						svg
							use(xlink:href="img/sprites/sprite.svg#modal-right-arrow")
						| Назад

					a.modal-menu__mobile-item(href="#") Товар 1
					a.modal-menu__mobile-item(href="#") Товар 2
					a.modal-menu__mobile-item(href="#") Товар 3
					a.modal-menu__mobile-item(href="#") Товар 4
					a.modal-menu__mobile-item(href="#") Товар 5
					a.modal-menu__mobile-item(href="#") Товар 6
					a.modal-menu__mobile-item(href="#") Товар 7
					a.modal-menu__mobile-item(href="#") Товар 8
					a.modal-menu__mobile-item(href="#") Товар 9
					a.modal-menu__mobile-item(href="#") Товар 10
					a.modal-menu__mobile-item(href="#") Товар 11
					a.modal-menu__mobile-item(href="#") Товар 12
					a.modal-menu__mobile-item(href="#") Товар 13
					a.modal-menu__mobile-item(href="#") Товар 14
		
		.modal-menu__items
			.modal-menu__items-container.js-brands-modal--items(data-section-items="1")
				a.modal-menu__item(href="#") BeneView T9 OR
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
			.modal-menu__items-container.js-brands-modal--items(data-section-items="2")
				a.modal-menu__item(href="#") BeneView T9 OR
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
			.modal-menu__items-container.js-brands-modal--items(data-section-items="3")
				a.modal-menu__item(href="#") BeneView T9 OR
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
			.modal-menu__items-container.js-brands-modal--items(data-section-items="4")
				a.modal-menu__item(href="#") BeneView T9 OR
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
				a.modal-menu__item(href="#") Расходные материалы
		
		.modal-menu__details
			.modal-menu__detail.js-brands-modal--detail(data-detail="1")
				.modal-menu__detail-picture
					img(src="img/modal-brand.png" alt="")
				a.modal-menu__detail-title(href='#') Компания Mindray
				.modal-menu__detail-text Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1
				a.btn-arrow.btn-arrow--blue.modal-menu__detail-btn(href="#")
					span
						span Подробнее
					svg
						use(xlink:href="img/sprites/sprite.svg#btn-arrow")
			.modal-menu__detail.js-brands-modal--detail(data-detail="2")
				.modal-menu__detail-picture
					img(src="img/modal-brand.png" alt="")
				a.modal-menu__detail-title(href='#') Компания Mindray 2
				.modal-menu__detail-text Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1
				a.btn-arrow.btn-arrow--blue.modal-menu__detail-btn(href="#")
					span
						span Подробнее
					svg
						use(xlink:href="img/sprites/sprite.svg#btn-arrow")
			.modal-menu__detail.js-brands-modal--detail(data-detail="3")
				.modal-menu__detail-picture
					img(src="img/modal-brand.png" alt="")
				a.modal-menu__detail-title(href='#') Компания Mindray 3
				.modal-menu__detail-text Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1
				a.btn-arrow.btn-arrow--blue.modal-menu__detail-btn(href="#")
					span
						span Подробнее
					svg
						use(xlink:href="img/sprites/sprite.svg#btn-arrow")
			.modal-menu__detail.js-brands-modal--detail(data-detail="4")
				.modal-menu__detail-picture
					img(src="img/modal-brand.png" alt="")
				a.modal-menu__detail-title(href='#') Компания Mindray 4
				.modal-menu__detail-text Монитор пациента Mindray BeneView T9 OR (Operating Room) был разработан специально для операционной. Аппарат оснащен функцией графического представления анестезиологического статуса,1
				a.btn-arrow.btn-arrow--blue.modal-menu__detail-btn(href="#")
					span
						span Подробнее
					svg
						use(xlink:href="img/sprites/sprite.svg#btn-arrow")

		button.modal-menu__close.js-brands-modal--close
			svg
				use(xlink:href="img/sprites/sprite.svg#basket-remove")