extends ../layouts/default

block variables
	- const title = "New Page";

block content
	.md-pagination
		.container
			.md-pagination-flex
				a.md-pagination-item(href="")  Главная
				.md-pagination-item О компании

	section.layout-wsb-section
		.container
			.layout-wsb
				.layout-wsb__main.layout-wsb__main--about-pading
					.layout-wsb__main-inner
						.news-main-top
							.news-main-top__left
								h1.typical-h1 О компании


						.archive-description.archive-description-text-style
							b ООО «МЕДИМКОМ»
							|  - один из крупнейших дистрибьюторов в области оснащения медицинских учреждений страны оборудованием и медицинскими изделиями высокого качества для отделений анестезиологии и реанимации, хирургии, онкологии, урологии, клинико-диагностических и микробиологических лабораторий, отделений функциональной диагностики, эндоскопии, скорой помощи на всей территории РФ. Мы предлагаем широкий ассортимент продукции для наиболее полного обеспечения потребности отделений и имеем прямые контракты с ведущими мировыми производителями.

						.lslider.js-lslider-with-thumbs
							.laslider-main.swiper.js-lslider-main
								.laslider-main-buttons
									.laslider-main-button.laslider-main-button--prev.js-lslider-main-prev
									.laslider-main-button.laslider-main-button--next.js-lslider-main-next

								.laslider-main-wrapper.swiper-wrapper
									each val in [1,2,3,4,5,6,7]
										.lslider-main-slide.swiper-slide
											img(src="img/news/meditsinskaya-klinika7.jpg", alt="")
							.lslider-thumbs.swiper.js-lslider-thumbs
								.lslider-thumbs-wrapper.swiper-wrapper
									each val in [1,2,3,4,5,6,7]
										.lslider-thumbs-slide.swiper-slide
											img(src="img/news/meditsinskaya-klinika7.jpg", alt="")

						.about-single-text.about-single-text-style
							h2 Наша миссия
							p Оснащать медицинские учреждения страны высокотехнологичным оборудованием и расходными материалами высшего качества, выполняя задачу по соответствию медицинской помощи страны мировому уровню

							h3 Наши ценности
							h4 Забота о пациентах
							p Конечной целью нашей деятельности являются пациенты. Мы стремимся поставлять продукцию, улучшающую их качество жизни и оказание медицинской помощи
							hr
							h4 Командный дух
							p Мы уважаем, вдохновляем и поддерживаем друг друга, у нас есть общие цели и интересы, нам нравится вместе расти и развиваться
							hr
							h4 Открытость и честность
							p Мы гордимся делом, в которое вовлечены, открыто делимся знаниями и честны с партнерами
							hr
							h4 Стремление к инновациям
							p Мы стремимся постоянно улучшать свои сервисы и продукты, поставлять самые современные решения. Мы живем и работаем в ногу со временем
							hr
							h4 Проактивность
							p Мы смело предлагаем решение сложных вопросов, берем на себя инициативу и несем ответственность
							hr
							h4 Оптимизм
							p Чтобы ни случилось, мы всегда сохраняем позитивный взгляд на мир и делимся им с нашими партнерами

							h3 Наши преимущества:
							ul
								li Надежность. 20 лет на рынке медицинских изделий
								li Соответствие запросам страны. ТОП 100 поставщиков рынка Госзаказа
								li Доверие. Доверие ведущих клиник страны
								li Скорость. Прямые контракты с ведущими производителями
								li Масштабность. 4 представительства с логистическими центрами.
								li Индивидуальный подход. Индивидуальный подход к каждому лечебному учреждению
								li Экспертность. Экспертная поддержка на всех этапах сотрудничества

				.layout-wsb_sidebar
					.lwsb-sidebar
						a.lwsb-sidebar__blue(href="") Компания
							//является ссылкой на текущий раздел сайта второго уровня
						.lwsb-sidebar__body
							a.lwsb-sidebar__item.lwsb-sidebar__item--current(href="")
								span О компании
							a.lwsb-sidebar__item(href="")
								span Новости
							a.lwsb-sidebar__item(href="")
								span Персонал
							a.lwsb-sidebar__item(href="")
								span Каталоги
							a.lwsb-sidebar__item(href="")
								span Вакансии
							a.lwsb-sidebar__item(href="")
								span Партнеры
							a.lwsb-sidebar__item(href="")
								span Контакты

	section.long-form-section