extends ../layouts/default

block variables
	- const title = "New Page";

block content
	.md-pagination
		.container
			.md-pagination-flex
				a.md-pagination-item(href="")  Главная
				.md-pagination-item Новости

	section.layout-wsb-section
		.container
			.layout-wsb
				.layout-wsb__main
					.layout-wsb__main-inner
						.news-main-top
							.news-main-top__left
								h1.typical-h1 Новости
							.news-main-top__right
								.news-filter
									.simple-select2-wrap
										select.js-simple-select2
											//(data-placeholder="Плейсходер")
											//option(selected)
											option(selected value="all-time") За все время
											option(value="2023") 2023
											option(value="2022") 2022
										.simple-select2-items-wrapper

						.news-list
							each val in [1, 2, 3]
								a.news-list-card(href="")
									.news-list-card__pic
										img(src="/img/news/card.jpg", alt="")
									.news-list-card__main
										.news-list-card__text Lacinia, diam interdum feugiat suscipit, velit sapien volutpat quam, at elementum lorem dui non sem
										.news-list-card__date 3 января 2023
								a.news-list-card(href="")
									.news-list-card__pic
										img(src="/img/news/card.jpg", alt="")
									.news-list-card__main
										.news-list-card__text Lacinia, diam int
										.news-list-card__date 3 января 2023
								a.news-list-card(href="")
									.news-list-card__pic
										img(src="/img/news/card.jpg", alt="")
									.news-list-card__main
										.news-list-card__text Lacinia, diam interdum feugiat suscipit, velit sapien volutpat quam, at elementum lorem dui non sem
										.news-list-card__date 3 января 2023


						.news-loadmore-wrap
							.section__btn
								a.btn-arrow.btn-arrow--grey(href="javascript:;")
									span Показать еще

				.layout-wsb_sidebar
					.lwsb-sidebar
						a.lwsb-sidebar__blue(href="") Компания
							//является ссылкой на текущий раздел сайта второго уровня
						.lwsb-sidebar__body
							a.lwsb-sidebar__item(href="")
								span О компании
							a.lwsb-sidebar__item.lwsb-sidebar__item--current(href="")
								span Новости
							a.lwsb-sidebar__item(href="")
								span Персонал
							a.lwsb-sidebar__item(href="")
								span Каталоги
							a.lwsb-sidebar__item(href="")
								span Вакансии
							a.lwsb-sidebar__item(href="")
								span Партнеры
							a.lwsb-sidebar__item(href="")
								span Контакты

	section.long-form-section
		.container
			.long-form-wrap
				.long-form
					.long-form-title  Получайте актуальную информацию о новых<br> продуктах и акциях
					.long-form-inputs
						.long-form-inp
							input.simple-input(type="text" placeholder="Ваше имя")
						.long-form-inp
							input.simple-input(type="text" placeholder="Телефон")
						.long-form-inp
							input.simple-input(type="text" placeholder="E-mail")
						.long-form-inp
							input.simple-input(type="text" placeholder="Название организации")
						.long-form-inp
							input.simple-input(type="text" placeholder="Город")
						.long-form-inp
							button.btn-arrow.btn-arrow--size-for-form(type="submit")
								span Отправить
								//img(src="/img/svg/submit-btn-arrow.svg", alt="")
								svg
									use(xlink:href="img/sprites/sprite.svg#submit-btn-arrow")

					.long-form-bottom
						.long-form-acceptance
							label.simple-acceptance
								input.simple-acceptance__input(type="checkbox" checked)
								.simple-acceptance__pseudo
								.simple-acceptance__text Я подтверждаю, что ознакомлен(а) с Политикой конфиденциальности Медимком и Пользовательским соглашением, и даю согласие на обработку и передачу своих персональных данных, для получения информационной рассылки на указанный адрес электронной почты.
						.long-form-acceptance
							label.simple-acceptance
								input.simple-acceptance__input(type="checkbox")
								.simple-acceptance__pseudo
								.simple-acceptance__text Я подтверждаю, что перечисленные персональные данные, относящиеся ко мне, предоставлены мной в адрес ООО «МЕДИМКОМ» добровольно и являются достоверными.



	.simple-padding-before-footer