extends ../layouts/default

block variables
	- const title = "New Page";

block content
	.md-pagination
		.container
			.md-pagination-flex
				a.md-pagination-item(href="")  Главная
				a.md-pagination-item(href="")  Компания
				.md-pagination-item Новости

	section.layout-wsb-section
		.container
			.layout-wsb
				.layout-wsb__main
					.layout-wsb__main-inner
						.news-main-top
							.news-main-top__left
								h1.typical-h1 Новости
							.news-main-top__right
								.news-filter
									.simple-select2-wrap
										select.js-simple-select2
											//(data-placeholder="Плейсходер")
											//option(selected)
											option(selected value="all-time") За все время
											option(value="2023") 2023
											option(value="2022") 2022
										.simple-select2-items-wrapper

						.news-list
							each val in [1, 2, 3]
								a.news-list-card(href="")
									.news-list-card__pic
										img(src="/img/news/card.jpg", alt="")
									.news-list-card__main
										.news-list-card__text Lacinia, diam interdum feugiat suscipit, velit sapien volutpat quam, at elementum lorem dui non sem
										.news-list-card__date 3 января 2023
								a.news-list-card(href="")
									.news-list-card__pic
										img(src="/img/news/card.jpg", alt="")
									.news-list-card__main
										.news-list-card__text Lacinia, diam int
										.news-list-card__date 3 января 2023
								a.news-list-card(href="")
									.news-list-card__pic
										img(src="/img/news/card.jpg", alt="")
									.news-list-card__main
										.news-list-card__text Lacinia, diam interdum feugiat suscipit, velit sapien volutpat quam, at elementum lorem dui non sem
										.news-list-card__date 3 января 2023


						.news-loadmore-wrap
							.section__btn.section__btn--grey
								a.btn-arrow(href="javascript:;")
									span Показать еще

				.layout-wsb_sidebar
					.lwsb-sidebar
						a.lwsb-sidebar__blue(href="") Компания
							//является ссылкой на текущий раздел сайта второго уровня
						.lwsb-sidebar__body
							a.lwsb-sidebar__item(href="")
								span О компании
							a.lwsb-sidebar__item.lwsb-sidebar__item--current(href="")
								span Новости
							a.lwsb-sidebar__item(href="")
								span Персонал
							a.lwsb-sidebar__item(href="")
								span Каталоги
							a.lwsb-sidebar__item(href="")
								span Вакансии
							a.lwsb-sidebar__item(href="")
								span Партнеры
							a.lwsb-sidebar__item(href="")
								span Контакты

	section.long-form-section
		.container
			.long-form-wrap
				.long-form
					.long-form-title  Получайте актуальную информацию о новых<br> продуктах и акциях
					.long-form-inputs
						.long-form-inp
							input(type="text" placeholder="Ваше имя")
						.long-form-inp
							input(type="text" placeholder="Телефон")
						.long-form-inp
							input(type="text" placeholder="E-mail")
						.long-form-inp
							input(type="text" placeholder="Название организации")
						.long-form-inp
							input(type="text" placeholder="Город")
						.long-form-inp
							button.simple-small-btn(type="submit") Отправить
								.simple-small-btn__icon
									img(src="/img/svg/submit-btn-arrow.svg", alt="")

					.long-form-bottom