extends ../layouts/default

block variables
	- const title = "New Page";

block content
	.md-pagination
		.container
			.md-pagination-flex
				.md-pagination-item(href="")
					a(href="")
						span   Главная
				.md-pagination-item(href="")
					a(href="")
						span  Партнёры
				.md-pagination-item
					span Becton Dickinson

	section.layout-wsb-section
		.container
			.layout-wsb
				.layout-wsb__main
					.layout-wsb__main-inner
						.partners-single-top
							.partners-single-top__title
								h1.typical-h1.typical-h1--small Becton Dickinson
							.partners-single-top__logo
								img(src="img/partners/Becton_Dickinson_logo.svg", alt="")



						.partners-single-top-hr

						.partners-single-text.vacancy-single-text-style
							h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nibh, sm, eu auctor lorem. Ut sollicitudin sollicitudin commodo. Fusce vehicula orci posuere, auctor turpis et, lacinia libero. In hac habitasse platea dictumst. Maecenas bibendum pulvinar tempor. Mauris eu egestas lectus. Cras cursus, ipsum a tristique tempus, ipsum mauris finibus magna, vitae aliquam diam justo quis augue.



						.lslider.lslider--partners.js-lslider-no-thumbs
							.laslider-main.swiper.js-lslider-main
								.laslider-main-buttons
									.laslider-main-button.laslider-main-button--prev.js-lslider-main-prev
									.laslider-main-button.laslider-main-button--next.js-lslider-main-next

								.laslider-main-wrapper.swiper-wrapper
									each val in [1,2,3,4,5,6,7]
										.lslider-main-slide.swiper-slide
											img(src="img/partners/partners_single_pic.jpg", alt="")




					each val in ['Анестезиология и реанимация','Хирургия','Becton Dickinson','Becton Dickinson','Becton Dickinson']
						.products-slider.partners__slider-products.js-product-partners-slider
							.products-slider__top
								.products-slider__title.products-slider__title--partners= val
								.products-slider__navigation
									.products-slider__nav.products-slider__nav--prev.js-products-slider-prev
									.products-slider__nav.products-slider__nav--next.js-products-slider-next
							.products-slider__wrapper
								.swiper
									.swiper-wrapper
										- for (var x = 0; x < 5; x++)
											.swiper-slide.product-preview
												.product-preview__inner
													.product-preview__top
														.product-preview__label Новинка
														a.product-preview__img(href="#")
															img(src="img/product-img-1.jpg" alt="")
														a.product-preview__title(href="#") Трубки эндотрахеальные
														.product-preview__price 138 000 руб
														.product-preview__text Эндотрахеальные трубки MEDEREN изготовлены из термопластичного ПВХ, способного «подстраиваться» под форму
													.product-preview__bottom
														.product-preview__btns
															a.product-preview__btn.btn-circle.btn-circle--small-h32.btn-circle--blue
																| Подробнее
																.btn-circle__icon
															a.product-preview__btn.btn-circle.btn-circle--small-h32.btn-circle--orange(href="")
																| В корзину
																.btn-circle__icon



				.layout-wsb_sidebar
					.lwsb-sidebar
						a.lwsb-sidebar__blue(href="") Компания

						.lwsb-sidebar__body
							a.lwsb-sidebar__item(href="")
								span О компании
							a.lwsb-sidebar__item.lwsb-sidebar__item--current(href="")
								span Новости
							a.lwsb-sidebar__item(href="")
								span Персонал
							a.lwsb-sidebar__item(href="")
								span Каталоги
							a.lwsb-sidebar__item(href="")
								span Вакансии
							a.lwsb-sidebar__item(href="")
								span Партнеры
							a.lwsb-sidebar__item(href="")
								span Контакты


	.simple-padding-before-footer