extends ../layouts/default

block variables
	- const title = "New Page";

block content
	.md-pagination
		.container
			.md-pagination-flex
				.md-pagination-item
					a(href="")
						span  Главная
				.md-pagination-item
					span Поиск

	section.search-page
		.container
			.typical-h1 Поиск
			.search-page__head
				form.search-page__form(action="")
					input.search-page__input(type='text' name='q' placeholder='Поиск среди 4980 товаров')
					button.search-page__submit(type='submit' name='s')
						svg
							use(xlink:href="img/sprites/sprite.svg#search")
			.search-page__wrapper
				.search-page__details
					span Результаты поиска:
					.search-page__details-value
						span Найдено:
						span 5

				.search-page__items
					.search-item
						.search-item__inner
							.search-item__left
								.search-item__img-wrapper
									a.search-item__category(href="/catalog/") Каталог
									.search-item__img(href="#")
										img(src="img/product-img-1.jpg" alt="")
								.search-item__info
									.search-item__info-top
										a.search-item__title(href="#") Трубки эндотрахеальные
										.search-item__prop
											span Артикул:
											span 213123131
									.search-item__text
										p Радиочастотная абляция – это современный метод хирургического лечения очаговых образований в паренхиматозных органах и костях. Система может применяться для воздействия на опухолевые очаги в печени, почках, легких, надпочечниках, щитовидной железе, матке, костях. Линейный прогрев тканей солидного органа электродами для радиочастотной абляции позволяет выполнить бескровную резекцию печени, почки или селезенки. Простая игольчатая форма электродов и их водяное охлаждение позволяет быстро создать...

							.search-item__right
								.search-item__price 138 000 руб
								.search-item__btns
									a.search-item__btn.btn-circle.btn-circle--small-h32.btn-circle--blue
										| Запросить кп
										.btn-circle__icon
									a.search-item__btn.btn-circle.btn-circle--small-h32.btn-circle--orange(href="")
										| В корзину
										.btn-circle__icon

					.search-item
						.search-item__inner
							.search-item__left
								.search-item__img-wrapper
									a.search-item__category(href="/catalog/") Каталог
									.search-item__img(href="#")
										img(src="img/catalog/catalog-detail-2.jpg" alt="")
								.search-item__info
									.search-item__info-top
										a.search-item__title(href="#") Трубки эндотрахеальные
										.search-item__prop
											span Артикул:
											span 213123131
									.search-item__text
										p Система для абляции Emprint™ с технологией Thermosphere™ мощностью 100 Ватт с интуитивно понятным меню и настраиваемым уровнем мощности обеспечивает 3 вида контроля энергии в пространстве - по температуре, по зоне воздействия и по длине волны - для поддержания предсказуемой сферической зоны абляции во время процедур. Излучение сверхвысокой частоты является еще одним диапазоном радиочастотного спектра. Другое его название – микроволны. Благодаря малой длине волны и отсутствию необходимости в замкнутой...

							.search-item__right
								.search-item__price 138 000 руб
								.search-item__btns
									a.search-item__btn.btn-circle.btn-circle--small-h32.btn-circle--blue
										| Запросить кп
										.btn-circle__icon
									a.search-item__btn.btn-circle.btn-circle--small-h32.btn-circle--orange(href="")
										| В корзину
										.btn-circle__icon

					.search-item
						.search-item__inner
							.search-item__left
								.search-item__img-wrapper
									a.search-item__category(href="/catalog/") Каталог
									.search-item__img(href="#")
										img(src="img/catalog/catalog-detail-4.png" alt="")
								.search-item__info
									.search-item__info-top
										a.search-item__title(href="#") Трубки эндотрахеальные
										.search-item__prop
											span Артикул:
											span 213123131
									.search-item__text
										p Система для абляции Emprint™ с технологией Thermosphere™ мощностью 100 Ватт с интуитивно понятным меню и настраиваемым уровнем мощности обеспечивает 3 вида контроля энергии в пространстве - по температуре, по зоне воздействия и по длине волны - для поддержания предсказуемой сферической зоны абляции во время процедур. Излучение сверхвысокой частоты является еще одним диапазоном радиочастотного спектра. Другое его название – микроволны. Благодаря малой длине волны и отсутствию необходимости в замкнутой...

							.search-item__right
								.search-item__price 138 000 руб
								.search-item__btns
									a.search-item__btn.btn-circle.btn-circle--small-h32.btn-circle--blue
										| Запросить кп
										.btn-circle__icon
									a.search-item__btn.btn-circle.btn-circle--small-h32.btn-circle--orange(href="")
										| В корзину
										.btn-circle__icon

					.search-item
						.search-item__inner
							.search-item__left
								.search-item__img-wrapper
									a.search-item__category(href="/catalog/") Каталог
									.search-item__img(href="#")
										img(src="img/catalog/catalog-detail-1.png" alt="")
								.search-item__info
									.search-item__info-top
										a.search-item__title(href="#") Трубки эндотрахеальные
										.search-item__prop
											span Артикул:
											span 213123131
									.search-item__text
										p Система для абляции Emprint™ с технологией Thermosphere™ мощностью 100 Ватт с интуитивно понятным меню и настраиваемым уровнем мощности обеспечивает 3 вида контроля энергии в пространстве - по температуре, по зоне воздействия и по длине волны - для поддержания предсказуемой сферической зоны абляции во время процедур. Излучение сверхвысокой частоты является еще одним диапазоном радиочастотного спектра. Другое его название – микроволны. Благодаря малой длине волны и отсутствию необходимости в замкнутой...

							.search-item__right
								.search-item__price 138 000 руб
								.search-item__btns
									a.search-item__btn.btn-circle.btn-circle--small-h32.btn-circle--blue
										| Запросить кп
										.btn-circle__icon
									a.search-item__btn.btn-circle.btn-circle--small-h32.btn-circle--orange(href="")
										| В корзину
										.btn-circle__icon

					.search-item
						.search-item__inner
							.search-item__left
								.search-item__img-wrapper
									a.search-item__category(href="/news/") Новости
									.search-item__img(href="#")
										img(src="img/news-1.jpg" alt="")
								.search-item__info
									.search-item__info-top
										a.search-item__title(href="#") Lacinia, diam interdum feugiat suscipit, velit sapien volutpat quam 3
										.search-item__prop
											span Дата:
											span 20 февраля 2024
									.search-item__text
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla arcu nibh, consequat et sem vitae, sollicitudin viverra leo. Quisque vestibulum feugiat orci id rutrum. Donec quis volutpat tellus. Vestibulum ac dictum tortor. In viverra convallis iaculis. Vivamus quis augue sed nibh auctor luctus. Morbi ut posuere diam, eu auctor lorem. Ut sollicitudin sollicitudin commodo. Fusce vehicula orci posuere, auctor turpis et, lacinia libero...

							.search-item__right
								.search-item__right-top 
								.search-item__btns
									a.search-item__btn.btn-circle.btn-circle--small-h32.btn-circle--blue(href="#")
										| Подробнее
										.btn-circle__icon

				
				
				.pagination-wrap.pagination-wrap--catalog
					.pagination
						a.pagination-item.pagination-item--prev(href="")
							svg
								use(xlink:href="img/sprites/sprite.svg#pagination-next")
						a.pagination-item(href="")
							span 1
						a.pagination-item.pagination-item--active(href="")
							span 2
						a.pagination-item(href="")
							span 3
						a.pagination-item(href="")
							span 4
						a.pagination-item.pagination-item--next(href="")
							svg
								use(xlink:href="img/sprites/sprite.svg#pagination-next")
				.pagination-wrap.pagination-wrap--catalog
					.pagination
						a.pagination-item.pagination-item--prev(href="")
							svg
								use(xlink:href="img/sprites/sprite.svg#pagination-next")
						a.pagination-item(href="")
							span 1
						a.pagination-item.pagination-item--dots(href="")
							span ...
						a.pagination-item.pagination-item--digit-prev(href="")
							span 3
						a.pagination-item.pagination-item--active(href="")
							span 4
						a.pagination-item.pagination-item--digit-next(href="")
							span 5
						a.pagination-item.pagination-item--dots(href="")
							span ...
						a.pagination-item(href="")
							span 99
						a.pagination-item.pagination-item--next(href="")
							svg
								use(xlink:href="img/sprites/sprite.svg#pagination-next")
				