
.basket-section {
    &__wrapper {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__slider-products {
        margin-bottom: 40px;
    }

    &__order {
        padding: 20px 20px 24px 20px;
        border-radius: 21px;
        background: white;
    
        &-title {
            color: $mainColor;
            font-size: 20px;
            font-weight: 700;
            line-height: 18px;
            margin-bottom: 8px;
        }
        &-sum {
            color: $mainColor;
            font-size: 35px;
            font-weight: 700;
            line-height: 38px;
            margin-bottom: 26px;
        }
    }
}

.btn-arrow--order {
    padding: 22px 34px;
    justify-content: center;
}

.typical-h1--basket {
    margin-bottom: 40px;
}

.basket-item {
    display: flex;
    height: 198px;
    justify-content: flex-start;
    border-radius: 21px;
    background: #FFF;
    box-sizing: border-box;
    width: 100%;
    padding: 24px 18px 24px 6px;
    position: relative;

    @media only screen and (max-width: 1400px) {
        height: auto;
        gap: 24px;
    }

    @media only screen and (max-width: 610px) {
        gap: 0px;
    }

    @media only screen and (max-width: 500px) {
        flex-direction: column;
        gap: 10px;
        padding: 24px;
    }

    &__img-wrap {
        display: flex;
    }
    &__info-wrap {
        display: flex;
        gap: 50px;

        @media only screen and (max-width: 1400px) {
            gap: 28px;
            flex-direction: column;
        }
    }

    &__left {
        display: flex;
    }
    &__right {
        display: flex;
        gap: 60px;

        @media only screen and (max-width: 610px) {
            gap: 10px;
            flex-direction: column-reverse;
        }
    }

    &__img {
        display: block;
        height: 145px;
        width: 168px;
        min-width: 168px;
        margin-right: 10px;

        & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__info {
        max-width: 314px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: 1400px) {
            max-width: 100%;
        }
    }
    &__label {
        color: #FF6A3D;
        font-size: 17px;
        font-weight: 700;
        line-height: 1;
        padding: 6px 14px;
        width: 100px;
        box-sizing: border-box;
        border-radius: 6px;
        background: rgba(255, 106, 61, 0.2);
    }
    &__title {
        color: #193762;
        font-size: 24px;
        font-weight: 700;
        line-height: 0.95;
        text-decoration: none;
        display: block;
        word-wrap: break-word;
        padding-right: 20px;

        margin-top: 10px;

        @media only screen and (max-width: 1400px) {
            margin-top: 30px;
        }
    }
    &__counter {
        height: 58px;
        display: flex;
        gap: 10px;

        &-minus,
        &-plus {
            width: 58px;
            height: 58px;
            border: unset;
            background: #d4d9e1;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $mainColor;
        }

        &-minus {
            & svg {
                width: 13px;
                height: 2px;
            }
        }
        &-input {
            border: none;
            width: 24px;
            color: $mainColor;
            font-size: 20px;
            font-weight: 500;
            background: none;
            text-align: center;
        }
        &-plus {
            & svg {
                width: 12px;
                height: 12px;
            }
        }
    }
    &__sum {
        height: 58px;
        color: $mainColor;
        font-size: 20px;
        font-weight: 500;

        display: flex;
        align-items: center;
        min-width: 144px;

        span {

        }
    }
    &__btn {

        @media only screen and (max-width: 1400px) {
            position: absolute;
            top: 10px;
            right: 12px;
        }

        @media only screen and (max-width: 500px) {
            top: 24px;
            right: 24px;
        }
    }
    &__remove {
        width: 58px;
        height: 58px;
        border: unset;
        background: #d4d9e1;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $mainColor;

        & svg {
            width: 12px;
            height: 12px;
        }
    }
}