.layout-catalog-section {
	margin-top: 38px;
}

.layout-catalog {
	display: flex;

	&__sidebar {
		width: 362px;
		flex-shrink: 0;
		margin-right: 27px;
		margin-top: 87px;

		@media screen and (max-width:1200px) {
			background: #fff;
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;
			margin: 0;
			width: 100%;
			height: 100%;
			z-index: 99999;
			padding: 30px 20px 50px;
			overflow: auto;
			transition-duration: .3s;
			pointer-events: none;
			transform: translate(-100%, 0);
		}

		&--active {
			@media screen and (max-width:1200px) {
				pointer-events: all;
				transform: translate(0%, 0);

			}
		}
	}

	&__main {
		flex-grow: 1;
	}
}

.filters-sb-top{
	@media screen and (min-width:1201px) {
		display: none;
	}
	@media screen and (max-width:1200px) {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 20px;
	}
	&__btn{
		padding: 16px 25px;
		 img,  svg {
			width: 24px;
			height: 24px;
			margin-left: 0;
			margin-bottom: 0;
		}
	}
}

.catalog-top {
	@media screen and (max-width:1200px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

}

.catalog-mob-filter-btn-wrap {
	@media screen and (min-width:1201px) {
		display: none;

	}

	@media screen and (max-width:1200px) {}
}
.catalog-mob-filter-btn{
	@media only screen and (max-width: 500px) {
		padding: 13px 25px;
	}

}
.catalog-type-switch-wrap {
	display: flex;
	justify-content: flex-end;
	padding-right: 14px;
	@media only screen and (max-width: 767px) {
		padding-right: 0;
	}
}

.catalog-type-switch {
	display: flex;

	&__type {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 21px;
		width: 70px;
		height: 70px;
		margin-left: 3px;
		transition-duration: .3s;

		@media only screen and (max-width: 767px) {
			width: 45px;
			height: 45px;
			border-radius: 8px;
		}

		svg {
			width: 38px;
			height: 38px;
			@media only screen and (max-width: 767px) {
				width: 25px;
				height: 25px;
			}

			&,
			* {
				fill: #BFC7D3;
				stroke: #BFC7D3;
				transition-duration: .3s;
			}
		}

		&--active,
		&:hover {
			background: #D3D9E2;

			svg {

				&,
				* {
					fill: #193762 !important;
					stroke: #193762 !important;
				}
			}

		}

		&--active {
			pointer-events: none;

			svg {
				width: 32px;
				height: 32px;
			}
		}
	}
}

.catalog-link-on-top-of-sidebar {
	@media screen and (max-width:1200px) {
		display: none;
	}
}

.filter-accordions {
	margin-top: 32px;

	@media screen and (max-width:1200px) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -20px;
		margin-bottom: -30px;
		margin-top: 0;
	}

	@media only screen and (max-width: 767px) {
		margin-bottom: -15px;
	}
}

@media screen and (min-width:1201px) {
	.filter-accordion {
		border-radius: 21px;
		overflow: hidden;
		border-radius: 21px;
		background: #fff;


		&--active .filter-accordion__head::after {
			transform: rotate(0deg);
		}

		&__head {
			cursor: pointer;
			border-radius: 0 0 21px 21px;
			background: #193762;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 25px 22px 31px 28px;
			font-weight: 700;
			font-size: 20px;
			line-height: 90%;
			color: #fff;
			transition-duration: .3s;



			&:hover {
				opacity: 0.8;
			}

			&::after {
				content: '';
				display: block;
				background: url(../img/svg/accordion-arrow.svg) no-repeat center center;
				background-size: contain;
				width: 14px;
				height: 10px;
				margin-top: 4px;
				transform-origin: center center;
				transform: rotate(180deg);
				transition-duration: .3s;
			}
		}

		&__head-title {}

		&__body {
			display: none;
		}

		&__body-inner {
			padding: 20px 19px 21px 25px;

		}

		&+.filter-accordion {
			margin-top: 19px;
		}
	}
}

@media screen and (max-width:1200px) {
	.filter-accordion {
		background: #fff;
		margin-left: 20px;
		margin-bottom: 30px;
		width: calc(33.33% - 20px);

		@media only screen and (max-width: 767px) {
			width: calc(50% - 20px);
			margin-bottom: 15px;
		}

		@media only screen and (max-width: 500px) {
			width: calc(100% - 20px);
		}



		&--active .filter-accordion__head::after {
			transform: rotate(0deg);
		}

		&__head {
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-weight: 700;
			font-size: 20px;
			line-height: 90%;
			transition-duration: .3s;

			@media only screen and (max-width: 767px) {
				font-size: 16px;
				line-height: 120%;
			}

			&:hover {
				opacity: 0.8;
			}

			&::after {
				content: '';
				display: block;
				background: url(../img/svg/accordion-arrow.svg) no-repeat center center;
				background-size: contain;
				width: 14px;
				height: 10px;
				margin-top: 4px;
				transform-origin: center center;
				transform: rotate(180deg);
				transition-duration: .3s;
			}
		}

		&__head-title {}

		&__body {
			display: block !important;
			height: auto !important;
			overflow: visible !important;
		}

		&__body-inner {
			margin-top: 10px;

		}

		&+.filter-accordion {}
	}
}

.simple-checkbox {
	display: flex;
	align-items: flex-start;
	width: 100%;
	cursor: pointer;

	&__input {
		display: none;

		&:checked {
			&~.simple-checkbox__pseudo {
				background: $orange;

				&::before {
					opacity: 1;
				}
			}

			&~.simple-checkbox__text {
				color: $orange;
			}

		}
	}

	&__pseudo {
		display: block;
		min-width: 22px;
		width: 22px;
		height: 22px;
		border-radius: 4px;
		background: #d3d9e1;
		position: relative;
		transition-duration: .3s;
		margin-right: 10px;

		&::before {
			content: '';
			display: block;
			position: absolute;
			background: #fff;
			left: 6px;
			top: 6px;
			border-radius: 4px;
			width: 10px;
			height: 10px;
			opacity: 0;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		color: #052a44;

		@media only screen and (max-width: 767px) {
			font-size: 16px;
			line-height: 1.2;
		}
	}
}

.simple-checkbox--filter {
	justify-content: space-between;
	width: 100%;

	.simple-checkbox__pseudo {
		margin-left: 10px;
		margin-right: 0;
		margin-top: -2px;
	}

	&+.simple-checkbox--filter {
		margin-top: 17px;

		@media only screen and (max-width: 767px) {
			margin-top: 8px;
		}

	}
}

.simple-checkbox--small-text {
	.simple-checkbox__text {
		@media screen and (min-width:1201px) {
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}
	}

	/*
	&+.simple-checkbox--small-text{
		margin-top: 17px;
	}
	*/
}


.catalog-cards {
	margin-top: 21px;
	display: flex;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-bottom: -20px;

	&__view-list {
		flex-direction: column;
	}
	@media screen and (max-width:666px) {
		align-items: center
	}
}

.catalog-card {
	margin-left: 14px;
	margin-bottom: 20px;
	width: calc(33.33% - 14px);

	@media screen and (max-width:1433px) {
		width: calc(50% - 14px);
	}

	@media only screen and (max-width: 767px) {
		width: calc(100% - 14px);
	}
}

.catalog-list {
	margin-left: 14px;
	margin-bottom: 20px;
	width: calc(100% - 14px);

	@media screen and (max-width:666px) {
		width: 298px;
	}
}

.product-list{
	&__inner{
		display: flex;

		border-radius: 21px;
		background: #FFF;
		box-sizing: border-box;
		width: 100%;
		padding: 19px 20px 28px 24px;
		position: relative;

		@media screen and (max-width:806px) {
			justify-content: space-between;
		}
		@media screen and (max-width:666px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__left {
		width: 145px;
		flex-basis: 145px;
		margin-top: 18px;

		@media screen and (max-width:666px) {
			width: 100%;
		}
	}
	&__middle {
		display: flex;
    	flex-direction: row;
    	justify-content: space-between;

		padding-left: 25px;
		padding-right: 68px;
		flex-basis: calc(100% - (145px + 274px));

		&-info {
			width: 280px;
		}
		&-props {
			width: 223px;

			@media screen and (min-width: 1200px) and (max-width:1490px) {
				display: none;
			}
			@media screen and (max-width:1100px) {
				display: none;
			}
		}

		@media screen and (min-width: 1200px) and (max-width:1490px) {
			padding-right: 20px;
		}
		@media screen and (max-width:1100px) {
			padding-right: 0px;
		}
		@media screen and (max-width:666px) {
			padding: 0;
		}
	}
	&__right {
		width: 274px;
		align-items: flex-end;

		&-buy {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;

			@media screen and (max-width:806px) {
				flex-direction: column;
			}
			@media screen and (max-width:666px) {
				align-items: flex-start;
			}
		}

		@media screen and (max-width:806px) {
			width: 180px;
		}
		@media screen and (max-width:766px) {
			width: 134px;
		}
		@media screen and (max-width:666px) {
			width: 100%;
		}
	}
	&__label{
		color: $orange;
		font-size: 17px;
		font-weight: 700;
		line-height: 1;
		padding: 6px 14px;
		max-width: calc(80% - 50px);
		box-sizing: border-box;
		border-radius: 6px;
		background: rgba(255, 106, 61, 0.2);
		position: absolute;
		top: 26px;
		left: 24px;
	}
	&__img{
		display: block;
		height: 118px;
		width: 100%;
		margin-bottom: 25px;
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		@media screen and (max-width:666px) {
			height: 180px;
		}
	}
	&__title{
		color: $mainColor;
		font-size: 24px;
		font-weight: 700;
		line-height: 0.95;
		text-decoration: none;
		margin-bottom: 12px;
		display: block;
		word-wrap: break-word;
		padding-right: 20px;

		@media only screen and (max-width: 767px) {
			font-size: 20px;
		}

	}
	&__artnumber {
		color: #052A44;
		font-size: 14px;

		span:first-child {
			padding-right: 6px;
			opacity: 20%;
		}

		@media screen and (max-width:666px) {
			display: none;
		}
	}
	&__props-item {
		font-size: 14px;
		align-items: end;
		display: grid;
		gap: 0 0.25rem;
		grid-template-areas: "chapter page";
		grid-template-columns: auto max-content;
		margin-bottom: 14px;

		&:last-child {
			margin-bottom: 0px;
		}
	}
	&__props-name {
		grid-area: chapter;
		overflow: hidden;
		position: relative;
		opacity: 20%;
		min-width: max-content;

		&:after {
			content: " ....................................................................";
			padding-left: 0.25ch;
			position: absolute;
			text-align: right;
		}
	}
	&__props-value {}
	&__price{
		color: $orange;
		font-size: 28px;
		font-weight: 700;
		line-height: 1;
		margin-top: 6px;
		margin-bottom: 45px;
		text-align: right;

		@media only screen and (max-width: 767px) {
			font-size: 20px;
		}
		@media screen and (max-width:666px) {
			text-align: left;
			margin-bottom: 34px;
		}
	}
	&__counter {
		width: 98px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&-minus,
		&-plus {
			width: 32px;
			height: 32px;
			border: unset;
			background: #E8EAF0;
			border-radius: 50%;
			cursor: pointer;

			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			svg {
				width: 8px;
				height: 3px;
			}
		}
		&-input {
			border: none;
			width: 14px;
			color: #1B316D;
			font-size: 14px;
			font-weight: 700;
			background: none;

			&:focus {
				outline: none;
			}
		}
		&-plus svg {
			width: 9px;
			height: 9px;
		}

		@media screen and (max-width:806px) {
			margin-bottom: 15px;
		}
		@media screen and (max-width:666px) {
			width: 107px;
		}
	}
	&__btns{
		display: flex;
		gap: 15px;
		justify-content: space-between;
		flex-direction: column;
		align-items: flex-end;
		.btn-more{}
		.btn-arrow{}

		@media screen and (max-width:806px) {
			flex-direction: column-reverse;
		}

		@media screen and (max-width:666px) {
			align-items: flex-start;
			flex-direction: row-reverse;
		}
	}
}

.filters-reset-btn-wrap {
	margin-top: 24px;
}


.rs-block {
	padding-bottom: 36px;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__inp {
		border-radius: 4px;
		height: 36px;
		background: #d3d9e1;
		width: calc(50% - 3px);
		outline: none !important;
		border: none !important;

		padding: 2px 8px;
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		box-sizing: border-box;
		color: #052a44;

	}

	&__inp-left {}

	&__inp-right {}

	&__bottom {
		margin-top: 27px;
		padding: 0 11px;

	}

	&__rs {}
}

.custom-style-rs {
	.noUi-handle {
		border: none;
		border-radius: 50%;
		box-shadow: none;
		width: 22px;
		height: 22px;
		background: $orange;
	}

	.noUi-horizontal {
		height: 2px;
		background: #d3d9e1;
		border: none;

		.noUi-handle {
			width: 22px;
			height: 22px;
			right: -11px;
			top: -11px;
			cursor: pointer;

			&::before {
				display: none;
			}

			&::after {
				left: 8px;
				top: 8px;
				width: 6px;
				height: 6px;
				background: #fff;
				border-radius: 50%;

			}
		}

	}

	.noUi-connect {
		background: $orange;
	}

	.noUi-marker-large {
		display: none;
	}

	.noUi-value {
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		color: #052a44;
	}

	.noUi-pips-horizontal {
		padding-top: 1px;
	}

	.noUi-value-horizontal {
		transform: translate(0, 50%);
		left: -11px !important;

		&~.noUi-value-horizontal {
			left: auto !important;
			right: -11px;


		}
	}
}



.pagination-wrap {
	&--catalog {
		margin-top: 32px;
	}

}

.pagination {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-bottom: -10px;

	@media screen and (max-width:900px) {
		margin-left: -8px;
		margin-bottom: -8px;
	}
}

.pagination-item {
	text-decoration: none;
	margin-left: 14px;
	margin-bottom: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: rgba(25, 55, 98, 0.16);
	font-weight: 700;
	font-size: 20px;
	line-height: 90%;
	color: #193762;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition-duration: .3s;

	@media screen and (max-width:900px) {
		width: 30px;
		height: 30px;
		font-size: 14px;
		margin-left: 8px;
		margin-bottom: 8px;
	}


	svg {
		width: 14px;

		&,
		* {
			stroke: #193762;
			transition-duration: .3s;
		}
	}


	&:active {}

	&:focus {}

	&--prev,
	&--next {}


	&--digit-prev,
	&--digit-next{
		display: none;
	}
	&--dots {
		@media screen and (max-width:900px) {
		}

		pointer-events: none;
	}

	&--prev {
		transform: rotate(180deg);
	}

	&--next {}

	&--active,
	&:hover {
		background: #193762;
		color: #fff;

		svg {

			&,
			* {
				stroke: #fff;
			}
		}
	}

	&:hover {}

	&--active {}
}

.catalog-partners {
	padding-top: 120px;
	padding-bottom: 0;

	&-form {
		width: 100%;
		display: flex;
    	flex-direction: column;
    	align-items: center;
		text-align: center;
		margin-top: 100px;
		padding-top: 60px;
		padding-bottom: 70px;
		padding-left: 24px;
		padding-right: 24px;
		border-radius: 55px;
		background: #193762;

		&__title {
			font-size: 60px;
			font-weight: 700;
			color: #FFFFFF;

			span {
				color: #FF6A3D;
			}

			@media screen and (max-width:900px) {
				font-size: 30px;
			}
		}
		&__btn {
			margin-top: 48px;
			max-width: 345px;
		}
	}
}

.section__title--catalog-partners{
	margin-bottom: 30px;

	@media screen and (max-width:900px) {
		font-size: 60px;
	}
}
.partners--catalog {
	margin-top: 43px;

	.swiper {
		width: 1066px;
	}

}

.partners__slide--catalog {
	margin-right: 17px;
}

.main-categories--catalog {
	padding-top: 94px;
}

.c-item--catalog {
	background: #ffffff;

	.c-item__icon {
		background: #E8EBEF;
	}

	&:hover .c-item__icon {
		background: #ffffff;
	}
}

.layout-catalog-detail-section {}
.layout-catalog-detail {
	display: flex;
    flex-direction: row;
	gap: 30px;
	margin-bottom: 45px;

	&__main {
		display: flex;
    	flex-direction: column;
    	justify-content: space-between;
	}
	&__slider {
		margin-top: 10px;
	}
}
.catalog-detail {
	&__title {
		color: $mainColor;
		font-weight: 700;
		font-size: 40px;
		line-height: 98%;
		
		margin-top: 32px;
		margin-right: 22px;
		margin-bottom: 19px;
	}
	&__price {
		font-size: 41px;
		font-weight: 700;
		color: $mainColor;

		display: flex;
		gap: 28px;

		margin-bottom: 86px;

		&-value {
			color: $orange;

			display: flex;
			gap: 6px;
    		align-items: center;
		}
	}
	&__btns {
		display: flex;
		gap: 13px;
	}

	&__similar-products {
		margin-bottom: 82px;
	}
	&__viewed-products {
		margin-bottom: 94px;
	}
}

.btn-arrow--catalog-detail {
	text-align: left;
	padding: 20px 30px 20px 34px;
}

.catalog-detail-information {
	display: flex;
	gap: 56px;
	margin-bottom: 40px;

	&__item {
		color: $propColor;
		font-size: 20px;

		& span:first-child {
			padding-right: 6px;
			opacity: 20%;
		}

	}
}

.catalog-detail-properties {
	margin-right: 50px;
	margin-bottom: 28px;

	&__top {
		display: flex;
		gap: 57px;
	}
	&__btn {
		color: $propColor;
		font-weight: 500;
		font-size: 20px;

		text-decoration: none;
    	cursor: pointer;

		display: flex;
		align-items: center;
		gap: 4px;

		margin-bottom: 25px;

		&:first-child svg {
			margin-bottom: -3px;
			color: $orange;
		}
	}
	&__wrapper {
		width: 100%;
		padding: 30px 22px 36px;
		background: white;
		border-radius: 20px;
	}
}

.catalog-detail-property {
	display: grid;
	gap: 0 0.25rem;
	grid-template-areas: "chapter page";
	grid-template-columns: auto max-content;
	margin-bottom: 15px;

	font-size: 20px;

	&:last-child {
		margin-bottom: 0px;
	}

	&__name {
		grid-area: chapter;
		overflow: hidden;
		position: relative;
		opacity: 20%;
		min-width: max-content;

		&:after {
			content: " .....................................................................................................................................................................";
			padding-left: 0.25ch;
			position: absolute;
			text-align: right;
		}
	}
	&__value {}
}

.catalog-detail-slider {
	width: 742px;

	&__main {
		position: relative;
		z-index: 1;

		background: white;
		height: 570px;
		border-radius: 41px;
	}
	&__wrapper {}
	&__slide {
		position: relative;
		border-radius: 33px;
		overflow: hidden;

		& img {
			//position: absolute;
			//left: 0;
			//top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
	&__thumbs {
		margin-top: 24px;
		padding-left: 12px;
		padding-right: 12px;
	}
	&__thumbs-wrapper {}
	&__thumbs-slide {
		width: 121px;
		height: 121px;
		background: white;
		border-radius: 20px;
		overflow: hidden;
		cursor: pointer;

		display: flex;
		align-items: center;

		& img {
			width: 100%;
    		opacity: 0.3;
    		transition: 0.3s;
		}

		&.swiper-slide-thumb-active img,
		&:hover img {
			opacity: 1;
		}
	}
}

.products-slider {

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
	&__title {
		color: #193762;
		font-size: 60px;
		font-weight: 700;
		line-height: 72%;
	}
	&__navigation {
		display: flex;
		justify-content: flex-end;
		z-index: 2;

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}
	&__nav {
		width: 44px;
		height: 44px;
		margin-left: 12px;
		background: #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition-duration: .3s;


		&::before {
			content: '';
			display: block;
			background: url(../img/svg/slider-arrow-blue.svg) no-repeat center center;
			background-size: contain;
			width: 13px;
			height: 11px;
		}

		&--prev {
			&::before {
				margin-left: -1px;
				transform: rotate(180deg);
			}
		}

		&--next {
			&::before {
				margin-left: 1px;
			}

		}

		&:hover{
			opacity: .8;
		}
		&.swiper-button-disabled{
			opacity: 0;
			pointer-events: none;
		}
	}
	&__wrapper {

	}
	&__btn {
		margin-top: 23px;

		& .btn-arrow {
			justify-content: center;
		}
	}
}

.consultation-banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 31px;
	position: relative;
	overflow: hidden;
	background: $mainColor;
	padding: 45px 33px 56px 37px;

	margin-bottom: 51px;

	&::before,
	&::after {
		content: "";
		display: block;
		background: #FDFDFD;
		opacity: 10%;
		width: 517px;
		height: 517px;
		border-radius: 50%;
		position: absolute;
		
	}
	&::before {
		left: 237px;
		bottom: 38px;
	}
	&::after {
		top: 45px;
		left: 492px;
	}

	&__title {
		color: white;
		font-size: 41px;
		font-weight: 700;

		max-width: 966px;
	}

	&__btn {
		
	}
}

.similar-form {
	background: #193762;
	border-radius: 55px;
	padding: 38px 30px 41px 30px;
	margin-bottom: 67px;

	&__title {
		color: white;
		font-weight: 700;
		font-size: 40px;
		line-height: 47px;

		max-width: 931px;
		margin-bottom: 46px;
	}
	&__wrapper {
		display: flex;
		gap: 16px;
	}
	&__input {
		width: 100%;

		&:last-child {
			margin-left: 10px;
		}
	}
}

.simple-input--similar-form {
	background: #ffffff33;
    color: white;
}

.detail-tabs {
	border-radius: 42px;

	&__head {
		background: $mainColor;
	}
	&__head-item {
		color: white;
	}
	&__body {
		background: white;
		padding: 40px;
	}
}
