
.main-slider {
	.swiper-pagination.swiper-pagination-bullets {
		flex-flow: column nowrap;
		width: 30px;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		/*
		@include max(sm) {
			top: auto;
			bottom: 0  ;
			height: auto;
			width: 100%;
			flex-flow: row nowrap;
		}*/

		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			min-width: 12px;
			min-height: 12px;
			margin: 2.5px;
			margin-top: 2.5px;
			margin-bottom: 2.5px;
			background: #193762;
			opacity: 0.25;
			&-active {
				opacity: 1;
			}
		}
	}
}

.m-slide{
	display: flex;
	justify-content: space-between;
	padding: 55px 75px 40px 49px;
	box-sizing: border-box;
	@include minmax(xl, dsk) {
		padding: vw(55) vw(75) vw(40) 49px;
	}
	@media only screen and (max-width: 1180px) {
		flex-direction: column-reverse;
		padding-right: 0;
	}

	&__left{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: calc(100% - 660px);
		@include minmax(xl, dsk) {
			width: calc(100% - vw(660));
		}
		@media only screen and (max-width: 1180px) {
			width: 100%;
		}
	}
	&__title{
		color: $mainColor;
		font-size: 50px;
		font-style: normal;
		font-weight: 700;
		line-height: 89%;
		@include minmax(xl, dsk) {
			font-size: vw(50);
		}
		span{
			opacity: 0.26;
		}

		@media only screen and (max-width: 480px) {
			font-size: 36px;
		}
	}
	&__text{
		color: $mainColor;
		margin-top: 18px;
		max-width: 610px;
		@include minmax(xl, dsk) {
			margin-top: vw(18);
			max-width: vw(610);
		}
		@media only screen and (max-width: 1180px) {
			max-width: 100%;
		}
	}
	&__btn{
		margin-top: 29px;
		@include minmax(xl, dsk) {
			margin-top: 29px;
		}

		@media only screen and (max-width: 767px) {
			& .btn-arrow {
				font-size: 16px;
				padding-left: 26px;
				padding-right: 26px;
				width: 100%;

				& > span {
					min-width: 100%;

					& > span:last-child:not(:first-child) {
						font-size: 13px;
					}
				}

				& svg {
					margin-left: unset;
				}
			}
		}
	}
	&__right{
		width: 645px;
		max-height: 420px;
		flex-shrink: 0;
		position: relative;
		@include minmax(xl, dsk) {
			width: vw(645);
			max-height: vw(420);
		}
		@media only screen and (max-width: 1200px) {
			width: 600px;
			max-height: 460px;
		}

		@media only screen and (max-width: 1180px) {
			width: 100%;
		}
		@media only screen and (max-width: 450px) {
			display: grid;
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		}
	}
	&__img{
		aspect-ratio: 645/459;

		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;

			@media only screen and (max-width: 1180px) {
				width: auto;
				margin: 0 auto;
			}
			@media only screen and (max-width: 650px) {
				width: 100%;
			}
		}

		@media only screen and (max-width: 1180px) {
			aspect-ratio: auto;
		}
		@media only screen and (max-width: 450px) {
			grid-area: 2 / 1 / 3 / 3;
		}
	}
	&__circle{

		width: 194px;
		height: 194px;
		padding: 10px;
		box-sizing: border-box;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.36);
		backdrop-filter: blur(2px);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		color: $mainColor;
		position: absolute;

		font-size: 20px;
		line-height: 90%;

		@include minmax(xl, dsk) {
			width: vw(194);
			height: vw(194);
			padding: vw(10);	
			font-size: vw(20);
		}

		@media only screen and (max-width: 450px) {
			background: none;
			position: unset;
			padding: 0;
			display: block;
			height: 100%;
			width: 100%;
		}

		&--1{
			left: -82px;
			bottom: 0;

			@include minmax(xl, dsk) {
				left: vw(-82);
			}

			@media only screen and (max-width: 1299px) {
				left: 3px;
			}

			@media only screen and (max-width: 1180px) {
				left: 18px;
    			bottom: 22px;
			}
		}
		&--2{
			right: 18px;
			top: 22px;
			@include minmax(xl, dsk) {
				right: vw(18);
				top: vw(22);
			}
		}


		&-top{
			font-weight: 700;
		}
		&-bottom{
			&:not(:first-child){
				margin-top: 8px;
				@include minmax(xl, dsk) {
					margin-top: vw(8);
				}
			}
		}
		span{
			font-size: 2em;
		}
	}
}


.main-adv{
	position: relative;
	z-index: 2;
	&__flex{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		padding: 15px 17px;
		border-radius: 42px;
		background: #FFF;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);
		@include minmax(xl, dsk) {
			gap: vw(10);
			padding: vw(15) vw(17);
			border-radius: vw(42);
			box-shadow: 0 vw(8) vw(16) 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);
		}
	}
	&__item{
		border-radius: 30px;
		background: #E8EBEF;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 250px;
		flex: 1 1 calc(20% - 10px);
		box-sizing: border-box;
		padding: 15px 17px;
		@include minmax(xl, dsk) {
			border-radius: vw(30);
			min-height: vw(250);
			flex: 1 1 calc(20% - vw(10));
			padding: vw(15) vw(17);
		}
		&-top{
			display: flex;
			justify-content: space-between;
		}
		&-icon{
			width: 75px;
			height: 75px;
			box-sizing: border-box;
			border-radius: 50%;
			background: #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			@include minmax(xl, dsk) {
				width: vw(75);
				height: vw(75);
			}
			img, svg{
				max-width: 30px;
				max-height: 30px;
				display: block;
				object-fit: contain;
				@include minmax(xl, dsk) {
					max-width: vw(30);
					max-height: vw(30);
				}
			}
		}
		&-count{
			color: $mainColor;
			text-align: right;
			font-size: 14px;
			font-weight: 600;
			line-height: 1;
			letter-spacing: 1.4px;
			margin: 12px 12px 0 0;
			@include minmax(xl, dsk) {
				font-size: vw(14);
				letter-spacing: vw(1.4);
				margin: vw(12) vw(12) 0 0;
			}
		}
		&-bottom{
			@extend .fs20;
			color: $mainColor;
			padding-right: 30px;
			@include minmax(xl, dsk) {
				padding-right: vw(30);
			}
		}

		@media only screen and (max-width: 1201px) {
			flex: 1 1 calc(40% - 10px);
		}
		@media only screen and (max-width: 450px) {
			flex: 1 1 100%;
		}
	}
}

.main-about{
	padding-top: 171px;
	margin-top: -171px;
	position: relative;
	z-index: 1;
	padding-bottom: 40px;
	@include minmax(xl, dsk) {
		padding-top: vw(171);
		margin-top: vw(-171);
		padding-bottom: vw(40);
	}
	&__img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		left: 0;
		top: 0;
	}
	&__info{
		position: relative;
		z-index: 1;
	}
}
.ma-info{
	display: flex;
	padding: 33px;
	box-sizing: border-box;
	width: 100%;
	background: $mainColor;
	border-radius: 42px;
	margin-top: 492px;
	@include minmax(xl, dsk) {
		padding: vw(33);
		border-radius: vw(42);
		margin-top: vw(492);
	}

	@media only screen and (max-width: 1200px) {
		flex-direction: column;
	}
	&__title{
		color: #FFF;
		font-size: 50px;
		font-style: normal;
		font-weight: 700;
		line-height: 1;
		flex-grow: 1;
		@include minmax(xl, dsk) {
			font-size: vw(50);
		}

		@media only screen and (max-width: 1200px) {
			margin-bottom: 20px;
			font-size: 50px;
		}
	
		@media only screen and (max-width: 767px) {
			font-size: 50px;
			line-height: 135%;
		}
		@media only screen and (max-width: 480px) {
			font-size: 36px;
		}
	}
	&__right{
		flex-shrink: 0;
		width: 880px;
		@include minmax(xl, dsk) {
			width: vw(880);
		}

		@media only screen and (max-width: 1200px) {
			width: 100%;
		}
	}
	&__text{
		color: #ffffff;
		column-count: 2;
		column-gap: 40px;
		@include minmax(xl, dsk) {
			column-gap: vw(40);
		}

		@media only screen and (max-width: 1200px) {
			margin-bottom: 12px;
		}

		@media only screen and (max-width: 767px) {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}


.main-partners {
	//pointer-events: none;
    //user-select: none;

	.swiper-wrapper {
		transition-timing-function: linear !important;
	}
}

.partners{
	display: flex;

	&__slide{
		width: 194px;
		height: 141px;
		border-radius: 32px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		//margin-right: 15px;
		@include minmax(xl, dsk) {
			width: vw(194);
			height: vw(141);
			border-radius: vw(32);
		}
		img{
			max-height: 80%;
			max-width: 80%;
			display: block;
			object-fit: contain;
		}
	}
}


.categories{
	display: flex;
	justify-content: space-between;
	gap: 15px;
	flex-wrap: wrap;
	@include minmax(xl, dsk) {
		gap: vw(15);
	}
	&__item{
		flex: 1 1 calc(25% - 15px);
		@include minmax(xl, dsk) {
			flex: 1 1 calc(25% - vw(15));
		}
	}
}

.c-item{
	border-radius: 43px;
	background: #E8EBEF;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	min-height: 322px;
	cursor: pointer;
	text-decoration: none;
	padding: 18px 20px 24px 15px;
	position: relative;
	color: $mainColor;
	@include minmax(xl, dsk) {
		border-radius: vw(43);
		min-height: vw(322);
		padding: vw(18) vw(20) vw(24) vw(15);
	}
	&__icon{
		width: 130px;
		height: 130px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #ffffff;
		border-radius: 50%;
		@include minmax(xl, dsk) {
			width: vw(130);
			height: vw(130);
		}
		img, svg{
			max-width: 70px;
			max-height: 70px;
			display: block;
			object-fit: contain;
			@include minmax(xl, dsk) {
				max-width: vw(70);
				max-height: vw(70);
			}
		}
	}
	&__title{
		font-size: 22px;
		font-weight: 700;
		line-height: 1;
		padding-right: 30px;
		padding-left: 15px;
		margin-top: 15px;
		@include minmax(xl, dsk) {
			font-size: vw(22);
			padding-right: vw(30);
			padding-left: vw(15);
			margin-top: vw(15);
		}
		@media only screen and (max-width: 480px) {
			font-size: 26px;
		}
	}
	&__arrow{
		position: absolute;
		right: 20px;
		bottom: 25px;
		width: 22px;
		height: 22px;
		@include minmax(xl, dsk) {
			right: vw(20);
			bottom: vw(25);
			width: vw(22);
			height: vw(22);
		}
		img, svg{
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;
		}
	}

	&:hover{
		background: $mainColor;
		color: #ffffff;
	}
}



.product-preview{
	height: auto;
	&__inner{
		border-radius: 21px;
		background: #FFF;
		box-sizing: border-box;
		width: 100%;
		padding: 19px 22px;
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		@include minmax(xl, dsk) {
			border-radius: vw(21);
			padding: vw(19) vw(22);
		}
	}
	&__label{
		color: $orange;
		font-size: 17px;
		font-weight: 700;
		line-height: 1;
		padding: 6px 14px;
		max-width: calc(80% - 50px);
		box-sizing: border-box;
		border-radius: 6px;
		background: rgba(255, 106, 61, 0.2);
		position: absolute;
		top: 19px;
		left: 19px;
		@include minmax(xl, dsk) {
			font-size: vw(17);
			padding: vw(6) vw(14);
			max-width: calc(80% - vw(50));
			border-radius: vw(6);
			top: vw(19);
			left: vw(19);
		}
	}
	&__img{
		display: block;
		height: 180px;
		width: 100%;
		margin-bottom: 25px;
		@include minmax(xl, dsk) {
			height: vw(180);
			margin-bottom: vw(25);
		}
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__top{}
	&__bottom{}
	&__title{
		color: $mainColor;
		font-size: 22px;
		font-weight: 700;
		line-height: 0.95;
		text-decoration: none;
		margin-bottom: 12px;
		display: block;
		word-wrap: break-word;

		@include minmax(xl, dsk) {
			font-size: vw(22);
			margin-bottom: vw(12);
		}

		@media only screen and (max-width: 767px) {
			font-size: 20px;
		}

	}
	&__price{
		color: $orange;
		font-size: 22px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 14px;
		@include minmax(xl, dsk) {
			font-size: vw(22);
			margin-bottom: vw(14);
		}
		@media only screen and (max-width: 767px) {
			font-size: 18px;
		}
	}
	&__text{
		color: $mainColor;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.2;
		@include minmax(xl, dsk) {
			font-size: vw(16);
		}
		@media only screen and (max-width: 767px) {
			font-size: 14px;
		}
	}
	&__btns{
		margin-top: 14px;
		display: flex;
		justify-content: space-between;
		@include minmax(xl, dsk) {
			margin-top: vw(14);
		}
		.btn-more{}
		.btn-arrow{}
	}
}

.client{
	text-decoration: none;
	
	&__inner{
		position: relative;
		border-radius: 32px;
		background: #E8EBEF;
		overflow: hidden;
		display: block;
		@include minmax(xl, dsk) {
			border-radius: vw(32);
		}
	}
	&__logo{
		position: absolute;
		top: 22px;
		right: 22px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: auto;
		max-height: 103px;
		height: 103px;
		padding: 30px;
		background: #fff;
		border-radius: 23px;
		z-index: 5;
		@include minmax(xl, dsk) {
			top: vw(22);
			right: vw(22);
			max-height: vw(103);
			height: vw(103);
			padding: vw(30);
			border-radius: vw(23);
		}
		img, svg{
			display: block;
			max-height: 100%;
			object-fit: contain;
			max-width: 100%;
		}
	}
	&__img{
		border-radius: 36px;
		overflow: hidden;
		width: 100%;
		height: 316px;
		@include minmax(xl, dsk) {
			border-radius: vw(36);
			height: vw(316);
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}
	&__title{
		@extend .fs20;
		color: $mainColor;
		text-decoration: none;
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: 23px 15px 23px;
		min-height: 126px;
		@include minmax(xl, dsk) {
			padding: vw(23) vw(15) vw(23);
			min-height: vw(126);
		}
	}
}


.news-slide{
	&__inner {
		display: flex;
		flex-direction: column;
		border-radius: 25px;
		overflow: hidden;
		background: white;
		text-decoration: none;
		@include minmax(xl, dsk) {
			border-radius: vw(25);
		}
	}
	&__img {
		border-radius: 25px;
		overflow: hidden;
		position: relative;
		@include minmax(xl, dsk) {
			border-radius: vw(25);
		}

		&::before {
			content: "";
			display: block;
			padding-top: 67.716%;
		}

		& img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
	&__main {
		padding: 15px 24px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 180px;
		@include minmax(xl, dsk) {
			padding: vw(15) vw(24);
			min-height: vw(180);
		}
	}
	&__title,
	&__date {
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		color: $mainColor;
		@include minmax(xl, dsk) {
			font-size: vw(20);
			line-height: vw(24);
		}
	}
	&__date {
		opacity: 20%;
	}
}