.simple-select2-wrap--simple-select {
	.select2.select2-container--custom-theme .select2-selection--single {
		padding-left: 6px;
		@include minmax(xl, dsk) {
            padding-left: vw(6);
        }
	}

}
.select2.select2-container--custom-theme {
	text-transform: none;

	.select2-selection--single {
		border-radius: 16px;
		background: #e8ebef;
		padding: 16px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition-duration: .3s;
		@include minmax(xl, dsk) {
			border-radius: vw(16);
			padding: vw(16) 0;
        }

		.select2-selection__rendered {
			padding: 5px 14px;
			margin-right: 18px;
			font-weight: 700;
			font-size: 13px;
			line-height: 90%;
			text-align: right;
			color: $mainColor;
			display: block;
			@include minmax(xl, dsk) {
				padding: vw(5) vw(14);
				margin-right: vw(18);
				font-size: vw(13);
			}

		}
	}

	.select2-selection__arrow {
		width: 11px !important;
		min-width: 11px;
		height: 8px !important;

		margin-right: 12px;
		background: url(../img/svg/filter-select-arrow.svg) no-repeat center center !important;
		background-size: contain !important;
		transition: transform .3s;
		transform-origin: center center;

		@include minmax(xl, dsk) {
			width: vw(11) !important;
			min-width: vw(11);
			height: 8px !important;
			margin-right: vw(12);
        }

		b {
			display: none !important;
		}
	}

	&.select2-container--open {

		.select2-selection--single {
			//border-radius: 16px 16px 0 0;
		}

		.select2-selection__arrow {
			transform: rotate(-180deg);
		}

		/*.select2-selection--single .select2-selection__rendered {
			border-color: rgba(255,255,255,0);
		}*/

	}

	.dropdown-wrapper {}



}

.select2-dropdown {
	background: #e8ebef;
	border-radius: 16px !important;
	//border-radius: 0 0 16px 16px !important;
	border: none !important;
	padding: 5px 14px;
	margin-top: 2px;
	@include minmax(xl, dsk) {
		border-radius: vw(16) !important;
		padding: vw(5) vw(14);
		margin-top: vw(2);
	}
}

.select2-results__options {
	font-weight: 400;
	font-size: 13px;
	line-height: 26px;
	padding: 0;
	@include minmax(xl, dsk) {
		font-size: vw(13);
		line-height: vw(26);
	}
}

.select2-results__option {
	transition: all .3s;
	color: #000000;
	opacity: .4;
	padding: 0;
	&:hover,
	&[aria-selected="true"] {
		opacity: 1;
	}
}

.simple-select2-items-wrapper {}



.select2-container--custom-theme {
	transition: opacity .3s;

	&.select2-container--open {
		opacity: 1;
	}
}

.simple-select2--placeholder-selected {
	&+.select2-container--custom-theme {
		//	opacity: .6;
	}
}

.simple-select2-items-wrapper {
	opacity: 0;
	transition: opacity .3s;
	position: relative;
	z-index: 99;

	&--show {
		opacity: 1;
	}
}



.simple-select2-wrap--city-select {
	width: 174px;
	@include minmax(xl, dsk) {
		width: vw(174);
	}

	.select2.select2-container--custom-theme .select2-selection--single .select2-selection__rendered {
		padding-left: 31px;
		@include minmax(xl, dsk) {
			padding-left: vw(31);
		}

	}

	.select2-selection--single {
		&::before {
			content: '';
			pointer-events: none;
			display: block;
			background: url(../img/svg/icon-location.svg) no-repeat center center;
			background-size: contain;
			width: 10px;
			height: 12px;
			position: absolute;
			left: 11px;
			top: 10px;
			@include minmax(xl, dsk) {
				width: vw(10);
				height: vw(12);
				left: vw(11);
				top: vw(10);
			}

		}
	}
}

.simple-select2-wrap--style-simple-input{
	.select2.select2-container--custom-theme .select2-selection--single {
		border-radius: 69px;
		padding: 33px 0;
		color: $mainColor;
		background: #e8ebf0;

		@include minmax(xl, dsk) {
			border-radius: vw(69);
			padding: vw(33) 0;
		}

		@media only screen and (max-width: 767px){
			padding: 22px 0;
		}
	}
	.select2.select2-container--custom-theme .select2-selection--single .select2-selection__rendered{

		padding: 5px 0 5px 35px;
		font-weight: 700;
		font-size: 20px;
		line-height: 90%;
		color: $mainColor;

		@include minmax(xl, dsk) {
			padding: vw(5) 0 vw(5) vw(35);
			font-size: vw(20);
		}
		@media only screen and (max-width: 767px){

			padding: 5px 0 5px 20px;
		}
	}
	.select2.select2-container--custom-theme  .select2-selection__arrow {
		width: 14px !important;
		min-width: 14px;
		height: 9px !important;
		margin-right: 26px;
		background: url(../img/svg/large-select-arrow.svg) no-repeat center center !important;
		background-size: contain !important;

		@include minmax(xl, dsk) {
			width: vw(14) !important;
			min-width: vw(14);
			height: vw(9) !important;
			margin-right: vw(26);
		}

	}
	.select2-dropdown {
		background: #e8ebf0;
		border-radius: 33px !important;
		line-height: 1.2;
		margin-top: 3px;
		padding: 15px 35px;
		@include minmax(xl, dsk) {
			border-radius: vw(33) !important;
			margin-top: vw(3);
			padding: vw(15) vw(35);
		}

		@media only screen and (max-width: 767px){
			padding: 15px 20px;
			border-radius: 22px !important;
		}
	}
	.select2-results__options {
		font-weight: 400;
		font-size: 20px;
		@include minmax(xl, dsk) {
			font-size: vw(20);
		}
	}
	/*display: block;
	width: 100%;
	border: none;
	outline: none;
	padding: 21px 35px;
	box-sizing: border-box;


	@media only screen and (max-width: 767px) {
		padding: 10px 20px;
	}*/

}


.md-pagination {
	margin-top: 9px;
	@include minmax(xl, dsk) {
		margin-top: vw(9);
	}
}

.md-pagination-flex{
	display: flex;
	flex-wrap: wrap;
}

.md-pagination-item {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	color: #052a44;
	margin-right: 24px;
	position: relative;
	text-decoration: none;
	@include minmax(xl, dsk) {
		font-size: vw(20);
		margin-right: vw(24);
	}
	@media only screen and (max-width: 767px) {
		font-size: 14px;
	}

	&::after {
		content: '';
		display: block;
		background: url(../img/svg/pagintaion-arrow.svg) no-repeat center center;
		background-size: contain;
		width: 6px;
		height: 9px;
		right: -15px;
		top: 10px;
		position: absolute;
		@include minmax(xl, dsk) {
			width: vw(6);
			height: vw(9);
			right: vw(-15);
			top: vw(10);
		}
		@media only screen and (max-width: 767px) {
			top: 4px;
		}
	}

	&:last-child {
		pointer-events: none;
		opacity: 0.2;
		margin-right: 0;
		&::after {
			display: none;
		}
	}
	a,span{
		display: inline;
		font: inherit;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
		color:inherit;
		text-decoration: none;
		transition-duration: .3s;
	}
	a:hover {
		opacity: .7;

	}
}

.layout-wsb-section {
	margin-top: 70px;
	@include minmax(xl, dsk) {
		margin-top: vw(70);
	}
}

.layout-wsb {
	display: flex;
	justify-content: space-between;

	&__main {
		width: calc(100% - 364px - 23px);
		@include minmax(xl, dsk) {
			width: calc(100% - vw(364) - vw(23));
		}


		@media only screen and (max-width: 1100px) {
			width: 100%;
		}
	}

	&__main-inner {
		display: block;

		width: 100%;

		border-radius: 55px;
		background: #fff;
		padding: 25px 27px 37px;
		@include minmax(xl, dsk) {
			border-radius: vw(55);
			padding: vw(25) vw(27) vw(37);
		}

		@media only screen and (max-width: 1100px) {
			border-radius: 25px;
			padding: 25px 15px 15px;
		}

		&--single-vac-pading,
		&--about-pading,
		&--news-single-pading {
			//padding-bottom: 32px;
			padding-bottom: 40px;
			@include minmax(xl, dsk) {
				padding-bottom: vw(40);
			}
			@media only screen and (max-width: 1100px) {
				//padding-bottom: 25px;
				padding-bottom: 30px;
			}
		}
	}

	&_sidebar {
		width: 364px;
		@include minmax(xl, dsk) {
			width: vw(364);
		}
		@media only screen and (max-width: 1100px) {
			width: 100%;
		}
	}

	&--basket {
		@media only screen and (max-width: 1100px) {
			flex-direction: column;
    		margin-bottom: 40px;
		}
	}

	&--basket &_sidebar {
		@media only screen and (max-width: 1100px) {
			display: block;
			width: 100%;
		}
	}

	@media only screen and (max-width: 1100px) {
		justify-content: space-between;
		flex-direction: column-reverse;
		gap: 20px;
	}
}

.lwsb-sidebar {
	border-radius: 21px;
	background: #fff;
	@include minmax(xl, dsk) {
		border-radius: vw(21);
	}
	&__blue {
		border-radius: 21px;
		background: $mainColor;
		padding: 28px;
		text-decoration: none;
		font-weight: 700;
		font-size: 20px;
		line-height: 90%;
		color: #fff;
		display: block;
		box-sizing: border-box;
		@include minmax(xl, dsk) {
			border-radius: vw(21);
			padding: vw(28);
			font-size: vw(20);
		}
		@media only screen and (max-width: 1100px) {
			display: none;
		}
	}

	&__body {
		padding: 0 10px 28px;
		@include minmax(xl, dsk) {
			padding: 0 vw(10) vw(28);
		}

		@media only screen and (max-width: 1100px) {
			display: flex;
			flex-direction: row;
			width: 100%;
			overflow-y: auto;
			padding: 12px 14px 16px 14px;
		}
	}

	&__item {
		display: block;
		padding: 20px 20px;
		margin-top: 7px;
		position: relative;
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		color: #052a44;
		text-decoration: none;
		display: block;
		box-sizing: border-box;
		z-index: 1;
		@include minmax(xl, dsk) {
			padding: vw(20) vw(20);
			margin-top: vw(7);
			font-size: vw(20);
		}

		&:first-child {
			margin-top: 13px;
			@include minmax(xl, dsk) {
				margin-top: vw(13);
			}

			@media only screen and (max-width: 1100px) {
				margin-top: 0px;
			}
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: -4px;
			bottom: -4px;
			width: 100%;
			z-index: 1;
			border-radius: 21px;
			background: #E8EBF0;
			opacity: 0;
			transition-duration: .3s;
			@include minmax(xl, dsk) {
				top: vw(-4);
				bottom: vw(-4);
				border-radius: vw(21);
			}
		}

		span {
			position: relative;
			z-index: 2;
		}

		&--current,
		&:hover {
			&::before {
				opacity: 1;
			}
		}

		@media only screen and (max-width: 1100px) {
			margin-top: 0px;
			min-width: 160px;
			padding: 12px 20px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@media only screen and (max-width: 767px) {
			font-size: 18px;
			padding: 10px 20px;
		}
	}

}

.news-main-top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -20px;
	@include minmax(xl, dsk) {
		margin-bottom: vw(-20);
	}


	@media only screen and (max-width: 1200px) {
		align-items: center;
	}


	&__left {
		margin-right: 20px;
		margin-bottom: 20px;
		@include minmax(xl, dsk) {
			margin-right: vw(20);
			margin-bottom: vw(20);
		}

		.typical-h1 {
			margin-left: -5px;
			@include minmax(xl, dsk) {
				margin-left: vw(-5);
			}
	

			@media only screen and (max-width: 767px) {
				margin-left: -2px;
			}
		}

	}

	&__right {
		width: 174px;
		margin-bottom: 20px;

		@include minmax(xl, dsk) {
			width: vw(174);
			margin-bottom: vw(20);
		}

	}
}

.typical-h1 {
	font-weight: 700;
	font-size: 72px;
	line-height: 72%;
	color: $mainColor;
	
	@include minmax(xl, dsk) {
		font-size: vw(72);
	}


	@media only screen and (max-width: 1200px) {
		font-size: 60px;
	}

	@media only screen and (max-width: 767px) {
		font-size: 40px;
		line-height: 36px;
	}

	@media only screen and (max-width: 580px) {
		font-size: 36px;
		line-height: 34px;
	}

	&--small {
		font-weight: 700;
		font-size: 40px;
		line-height: 97%;
		
		@include minmax(xl, dsk) {
			font-size: vw(40);
		}

		@media only screen and (max-width: 1200px) {
			font-size: 40px;
		}

		@media only screen and (max-width: 767px) {
			font-size: 28px;
			line-height: 1.2;
		}

		@media only screen and (max-width: 560px) {
			font-size: 24px;
			line-height: 1.2;
		}
	}
	&--medium {
		font-weight: 700;
		font-size: 60px;
		line-height: 120%;

		
		@include minmax(xl, dsk) {
			font-size: vw(60);
		}

		@media only screen and (max-width: 1200px) {
			font-size: 40px;
		}

		@media only screen and (max-width: 767px) {
			font-size: 28px;
			line-height: 34px;
		}

		@media only screen and (max-width: 560px) {
			font-size: 24px;
			line-height: 34px;
		}
	}
}

.typical-h2 {
	font-weight: 700;
	font-size: 60px;
	line-height: 120%;
	color: $mainColor;

	@include minmax(xl, dsk) {
		font-size: vw(60);
	}

	@media only screen and (max-width: 1200px) {
		font-size: 40px;
	}

	@media only screen and (max-width: 767px) {
		font-size: 28px;
		line-height: 1.2;
	}

	@media only screen and (max-width: 560px) {
		font-size: 24px;
		line-height: 1.2;
	}

}

.news-filter {}

.news-list {
	margin-top: 57px;
	display: flex;
	flex-wrap: wrap;
	margin-left: -18px;
	margin-bottom: -18px;

	@include minmax(xl, dsk) {
		margin-top: vw(57);
		margin-left: vw(-18);
		margin-bottom: vw(-18);
	}

	@media only screen and (max-width: 767px) {
		margin-top: 30px;
	}
}

.news-list-card {
	margin-left: 18px;
	margin-bottom: 18px;
	width: calc(33.33% - 18px);
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 21px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	transition-duration: .3s;

	@include minmax(xl, dsk) {
		margin-left: vw(18);
		margin-bottom: vw(18);
		width: calc(33.33% - vw(18));
		border-radius: vw(21);
	}

	@media only screen and (max-width: 1200px) {
		width: calc(50% - 18px);
	}

	@media only screen and (max-width: 540px) {
		width: calc(100% - 18px);
	}

	&--for-slider {
		width: 100% !important;
		margin: 0;
		background: #fff;
	}

	&:hover {
		opacity: .7;
	}

	&__pic {
		border-radius: 21px;
		overflow: hidden;
		position: relative;
		@include minmax(xl, dsk) {
			border-radius: vw(21);
		}
		&::before{
			content: '';
			display: block;
			padding-top: 73.6677%;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&__main {
		padding: 7px 15px 18px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		@include minmax(xl, dsk) {
			padding: vw(7) vw(15) vw(18);
		}
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 152%;
		color: #052a44;
		flex-grow: 1;
		@include minmax(xl, dsk) {
			font-size: vw(20);
		}
		@media only screen and (max-width: 767px) {
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 1.2;

		}
	}

	&__date {
		font-weight: 500;
		font-size: 14px;
		line-height: 114%;
		color: $mainColor;
		margin-top: 49px;
		opacity: 0.2;
		@include minmax(xl, dsk) {
			font-size: vw(14);
			margin-top: vw(49);
		}
		@media only screen and (max-width: 767px) {
			margin-top: 20px;
		}
	}
}

.news-loadmore-wrap {}

.lwsb-sidebar {}

.long-form-section {
	margin-top: 39px;
	margin-bottom: 94px;
	@include minmax(xl, dsk) {
		margin-top: vw(39);
		margin-bottom: vw(94);
	}
	&--mt-60{
		margin-top: 60px;
		@include minmax(xl, dsk) {
			margin-top: vw(60);
		}
	}
}

.long-form-wrap {
	border-radius: 55px;
	background: #fff;
	//width: calc(100% - 364px - 23px);
	padding: 40px 27px 60px;
	@include minmax(xl, dsk) {
		border-radius: vw(55);
		padding: vw(40) vw(27) vw(60);
	}

	@media only screen and (max-width: 1100px) {
		width: 100%;
		padding: 25px 15px;
	}
}

.long-form {}

.long-form-title {
	font-weight: 700;
	font-size: 40px;
	line-height: 97%;
	color: $mainColor;

	@include minmax(xl, dsk) {
		font-size: vw(40);
	}


	@media only screen and (max-width: 767px) {
		font-size: 28px;
		line-height: 1.2;
	}

	@media only screen and (max-width: 560px) {
		font-size: 24px;
		line-height: 1.2;
	}
}

.long-form-inputs {
	display: flex;
	flex-wrap: wrap;
	margin-left: -18px;
	margin-bottom: -15px;
	margin-top: 84px;

	@include minmax(xl, dsk) {
		margin-left: vw(-18);
		margin-bottom: vw(-15);
		margin-top: vw(84);
	}

	@media only screen and (max-width: 767px) {
		margin-top: 40px;
	}

	&--smaller-mt {
		margin-top: 72px;
		@include minmax(xl, dsk) {
			margin-top: vw(72);
		}

		@media only screen and (max-width: 767px) {
			margin-top: 40px;
		}
	}
}

.long-form-inp {
	width: calc(33.33% - 18px);
	margin-left: 18px;
	margin-bottom: 15px;

	@include minmax(xl, dsk) {
		width: calc(33.33% - vw(18));
		margin-left: vw(18);
		margin-bottom: vw(15);
	}

	&--d-25 {
		width: calc(25% - 18px);
		@include minmax(xl, dsk) {
			width: calc(25% - vw(18));
		}
	}

	&--1350-w33 {
		@media only screen and (max-width: 1200px) {
			width: calc(33.33% - 18px);
		}

	}

	&--fg1 {
		flex-grow: 1;
	}

	&--aic {
		display: flex;
		align-items: center;
	}

	@media only screen and (max-width: 1000px) {
		width: calc(50% - 18px);
	}

	@media only screen and (max-width: 767px) {
		width: calc(100% - 18px);
	}

}

.simple-input {
	display: block;
	width: 100%;
	border-radius: 69px;
	border: none;
	outline: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 90%;
	color: $mainColor;
	background: #e8ebf0;
	padding: 21px 35px;
	box-sizing: border-box;

	@include minmax(xl, dsk) {
		border-radius: vw(69);
		font-size: vw(20);
		padding: vw(21) vw(35);
	}

	@media only screen and (max-width: 767px) {
		/*font-size: 16px;
		line-height: 1.2;*/

		padding: 10px 20px;
	}

	&::placeholder {
		color: #788597;
	}
}

.simple-input-file {
	@extend .simple-input;
	padding: 21px 27px 21px 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include minmax(xl, dsk) {
		padding: vw(21) vw(27) vw(21) vw(35);
	}

	@media only screen and (max-width: 767px) {
		padding: 10px 20px;
	}

	&__text {
		color: $orange;
		word-break: break-all;

		&--preview {
			word-break: normal;
		}
	}

	&__icon {
		margin-left: 10px;
		flex-shrink: 0;

		@include minmax(xl, dsk) {
			margin-left: vw(10);
		}

		img,
		svg {
			width: 22px;
			height: 23px;
			@include minmax(xl, dsk) {
				width: vw(22);
				height: vw(23);
			}
		}
	}

	input {
		display: none !important;
	}
}


.long-form-bottom {
	margin-top: 51px;

	@include minmax(xl, dsk) {
		margin-top: vw(51);
	}

	@media only screen and (max-width: 767px) {
		margin-top: 30px;
	}
}

.simple-small-btn {
	font-weight: 700;
	font-size: 20px;
	line-height: 90%;
	color: $mainColor;
	@include minmax(xl, dsk) {
		font-size: vw(20);
	}

	&__icon {}
}

.long-form-acceptance {
	width: 1152px;
	max-width: 100%;
	@include minmax(xl, dsk) {
		width: vw(1152);
	}

	&+.long-form-acceptance {
		margin-top: 24px;
		@include minmax(xl, dsk) {
			margin-top: vw(24);
		}
	}
}

.simple-acceptance {
	display: flex;
	width: 100%;
	cursor: pointer;

	&__input {
		display: none;

		&:checked~.simple-acceptance__pseudo {
			&::before {
				opacity: 1;
			}
		}
	}

	&__pseudo {
		margin-top: 6px;
		display: block;
		min-width: 22px;
		width: 22px;
		height: 22px;
		border-radius: 4px;
		background: $orange;
		position: relative;
		@include minmax(xl, dsk) {
			margin-top: vw(6);
			min-width: vw(22);
			width: vw(22);
			height: vw(22);
			border-radius: vw(4);
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			background: #fff;
			left: 6px;
			top: 6px;
			border-radius: 4px;
			width: 10px;
			height: 10px;
			opacity: 0;
			transition-duration: .3s;
			@include minmax(xl, dsk) {
				left: vw(6);
				top: vw(6);
				border-radius: vw(4);
				width: vw(10);
				height: vw(10);
			}
		}
	}

	&__text {
		margin-left: 24px;
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		color: #052a44;
		opacity: 0.3;
		@include minmax(xl, dsk) {
			margin-left: vw(24);
			font-size: vw(20);
		}
		@media only screen and (max-width: 767px) {
			font-size: 16px;
			line-height: 1.2;
		}
	}
}

.long-form-side-acceptance {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	color: #052a44;
	opacity: 0.3;

	@include minmax(xl, dsk) {
		font-size: vw(20);
	}

	@media only screen and (max-width: 767px) {
		font-size: 16px;
		line-height: 1.2;
	}

	&--ml7 {
		margin-left: 7px;
		@include minmax(xl, dsk) {
			margin-left: vw(7);
		}
	}
	&--tac{
		text-align: center;
	}

	br {

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}
}

.news-single-top {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
    margin-top: 25px;
	margin-left: -36px;
	margin-bottom: -20px;

	@include minmax(xl, dsk) {
		margin-top: vw(25);
		margin-left: vw(-36);
		margin-bottom: vw(-20);
	}

	&__date {
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		color: #052a44;
		opacity: 0.2;
		flex-shrink: 0;
		margin-left: 36px;
		margin-bottom: 20px;
		@include minmax(xl, dsk) {
			font-size: vw(20);
			margin-left: vw(36);
			margin-bottom: vw(20);
		}
	}

	&__tags {
		margin-left: 36px;
		margin-bottom: 20px;
		@include minmax(xl, dsk) {
			margin-left: vw(36);
			margin-bottom: vw(20);
		}
	}
}

.news-single-date {}

.simple-tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-bottom: -10px;
	@include minmax(xl, dsk) {
		margin-left: vw(-15);
		margin-bottom: vw(-10);
	}
}

.simple-tag {
	margin-left: 15px;
	margin-bottom: 10px;
	background: #D1D7E0;
	border-radius: 90px;
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	color: $mainColor;
    padding: 7px 18px;
	text-decoration: none;
	transition-duration: .3s;
	@include minmax(xl, dsk) {
		margin-left: vw(15);
		margin-bottom: vw(10);
		border-radius: vw(90);
		font-size: vw(20);
		padding: vw(7) vw(18);
	}
	&:hover{
		opacity: .7;
	}
}


.news-single-text{
    margin-top: 38px;
	@include minmax(xl, dsk) {
		margin-top: vw(38);
	}
}

.cards-slider {
    margin-top: 41px;
	@include minmax(xl, dsk) {
		margin-top: vw(41);
	}
}

.cards-slider-top {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__title {}

	&__buttons {
		margin-top: 8px;
		display: flex;
		margin-left: 15px;
		@include minmax(xl, dsk) {
			margin-top: vw(8);
			margin-left: vw(15);
		}
		@media only screen and (max-width: 767px) {
			display: none;
		}
		&--no-mt{
			margin-top: 0;
		}
	}
}

.cards-slider-wrapper {
    margin-top: 30px;
	@include minmax(xl, dsk) {
		margin-top: vw(30);
	}
}

.cards-slider-slide {
	height: auto;
	display: flex;

}
