.footer{
	@extend .fs20;
	background: $mainColor;
	border-radius: 53px 53px 0 0;
	color: #ffffff;
	padding: 40px 0;
	width: 100%;
	justify-self: flex-end;
	@include minmax(xl, dsk) {
		border-radius: vw(53) vw(53) 0 0;
		padding: vw(40) 0;
	}
	@include max(1100){
		padding: 25px 0 30px;
	}
	@include max(md){
		border-radius: 25px 25px 0 0;
	}
	&__top{
		display: flex;
		justify-content: space-between;
		@include max(md){
			flex-direction: column;
		}
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 20px;
		@include minmax(xl, dsk) {
			margin-top: vw(20);
		}
		@include max(md){
			flex-direction: column-reverse;
			align-items: flex-start;
		}
		@include max(sm){
			margin-top: 25px;
		}
	}
	&__col{
		&--info{
			width: 100%;
			@include min(md){
				width: 336px;
			}
			@include minmax(xl, dsk) {
				width: vw(336);
			}
		}
		&--copyright{
			@include max(md){
				width: 100%;
				margin-top: 25px;
				padding-top: 25px;
				border-top: 1px solid rgba(#ffffff, 0.3);
				@include minmax(xl, dsk) {
					margin-top: vw(25);
					padding-top: vw(25);
				}
			}
		}
		&--contacts,
		&--social{
			width: 336px;
			@include minmax(xl, dsk) {
				width: vw(336);
			}
			@include max(xl){
				width: 270px;
			}
			@include max(lg){
				width: 340px;
			}
			@include max(md){
				width: 100%;
			}
		}
		&--social{
			@include max(md){
				display: flex;
				align-items: center;
				> * {
					width: 50%;
				}
			}
		}
		&--menu{
			@include max(lg){
				display: none;
			}
		}
		&-title{
			text-transform: uppercase;
			margin-bottom: 30px;
			@include minmax(xl, dsk) {
				margin-bottom: vw(30);
			}
		}
	}
	&__logo{
		width: 324px;
		height: 60px;
		max-width: 100%;
		@include minmax(xl, dsk) {
			width: vw(324);
			height: vw(60);
		}
		@include max(sm){
			width: 270px;
			height: 50px;
		}
		img, svg{
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: left top;
			display: block;
		}
	}
	&__info{
		&:not(:first-child){
			margin-top: 50px;
			@include minmax(xl, dsk) {
				margin-top: vw(50);
			}
			@include max(md){
				margin-top: 30px;
			}
		}
	}

	&__menu{
		list-style: none;
		&--top{
			@include minmax(xl, dsk) {
				max-width: vw(240);
			}
			max-width: 240px;
		}
		li{
			&:not(:first-child){
				margin-top: 14px;
				@include minmax(xl, dsk) {
					margin-top: vw(14);
				}
			}
			a{
				@extend .link;
				color: rgba(255, 255, 255, 0.3);
			}
		}
	}

	&__copyright{
		margin-top: 8px;
		@include minmax(xl, dsk) {
			margin-top: vw(8);
		}
	}

	&__social{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		list-style: none;
		margin-left: -4px;
		margin-right: -4px;
		@include minmax(xl, dsk) {
			margin-left: vw(-4);
			margin-right: vw(-4);
		}
		@include max(sm){
			margin-left: -10px;
			margin-right: -10px;
		}
		&:not(:first-child){
			@include min(md){
				margin-top: 16px;
			}
		}
		li{
			margin: 0 4px;
			@include minmax(xl, dsk) {
				margin: 0 vw(4);
			}
			@include max(sm){
				margin: 0 10px;
			}
			a{
				color: #E8EBEF;
				background: rgba(255, 255, 255, 0.2);
				border-radius: 50%;
				overflow: hidden;
				width: 70px;
				height: 70px;
				display: flex;
				align-items: center;
				justify-content: center;
				@include minmax(xl, dsk) {
					width: vw(70);
					height: vw(70);
				}
				@include max(sm){
					width: auto;
					height: auto;
					background: transparent;
					border-radius: 0;
				}
				svg, img{
					width: 24px;
					height: 24px;
					object-fit: contain;
					display: block;
					@include minmax(xl, dsk) {
						width: vw(24);
						height: vw(24);
					}
				}
				&:hover{
					color: $orange;
					background-color: rgba($orange, 0.1);
				}
			}
		}
	}
}

.footer-contact{
	@include max(md){
		display: flex;
		width: 100%;
	}
	& + &{
		margin-top: 2em;
	}
	&__name{
		color: #FFFFFF;
		@include max(md){
			width: 50%;
		}
	}
	&__info{
		color: rgba(255, 255, 255, 0.3);
		@include max(md){
			width: 50%;
		}
		&:not(:first-child){
			@include min(md){
				margin-top: 10px;
			}
		}
		> a {
			@extend .link;
			color: rgba(255, 255, 255, 0.3);
			display: inline-block;
		}
	}
	&__link{
		a{
			text-decoration: none;
			color: $orange;
			position: relative;
			display: inline-block;
			border-bottom: 1px solid currentColor;
			&:hover{
				border-color: transparent;
			}
		}
	}
}