footer.footer
    .container
        .footer__inner
            .footer__top
                .footer__col
                    .footer__logo
                        svg
                            use(xlink:href="img/logo.svg#index")
                    .footer__info
                        | ООО «Медимком» – поставщик расходных материалов и оборудования для отделений анестезиологии и реанимации.
                .footer__col
                    .footer__col-title Каталог
                    ul.footer__menu
                        li
                            a(href="#")
                        li
                            a(href="#")
                        li
                            a(href="#")
                        li
                            a(href="#")
                .footer__col
                    .footer__col-title Разделы
                    ul.footer__menu
                        li
                            a(href="#")
                        li
                            a(href="#")
                        li
                            a(href="#")
                        li
                            a(href="#")
                .footer__col
                    .footer__col-title Контакты
            .footer__bottom
                .footer__col
                    ul.footer__menu
                        li
                            a(href="#") Политика конфиденциальности
                    .footer__copyright © Медимком, 2021
                .footer__col
                    ul.footer__social
                        li
                            a(href="#" target="_blank")
                                svg
                                    use(xlink:href="img/sprites/sprite.svg#soc-wa")
                        li
                            a(href="#" target="_blank")
                                svg
                                    use(xlink:href="img/sprites/sprite.svg#soc-vk")
                        li
                            a(href="#" target="_blank")
                                svg
                                    use(xlink:href="img/sprites/sprite.svg#soc-youtube")
