h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

body{
	background: #E8EBEF;
	font-family: 'Gilroy', sans-serif;
}

.container{
	width: 100%;
	max-width: 1480px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;
}


.fs20{
	font-size: 20px;
	font-style: normal;
	line-height: 1.2;
}
.link{
	color: $mainColor;
	text-decoration: none;
	&:hover{
		color: $orange;
	}
}

.btn-orange{
	border-radius: 1000px;
	background: $orange;
	color: #FFF;
	padding: 24px 34px;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	position: relative;
	z-index: 3;
	transition: transform 0.2s;
	cursor: pointer;
	&::before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		width: 100%;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		top: 1px;
		left: 1px;
		border-radius: inherit;
		background: #310606;
		position: absolute;
		z-index: -2;
		transition: transform 0.2s;
	}
	&::after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background: $orange;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&:hover{
		&::before{
			transform: translateY(10px);
		}
	}
	&:active{
		transform: translateY(10px);
		&::before{
			transform: translateY(0);
		}
	}
}
.btn-arrow{
	@extend .btn-orange;
	display: flex;
	align-items: center;
	svg, img{
		width: 14px;
		height: 14px;
		object-fit: contain;
		display: block;
		flex-shrink: 0;
		margin-left: 12px;
	}
	&--2row{
		padding-left: 40px;
		padding-right: 40px;
		> span{
			display: block;
			text-align: left;
			min-width: 247px;
			> span{
				display: block;
				&:last-child:not(:first-child){
					font-size: 16px;
					margin-top: 2px;
				}
			}
		}
	}
	&--grey{
		background: #E3E7EC;
		color: $mainColor;
		&::after{
			background: #E3E7EC;

		}
	}

	&--size-for-form{
		padding: 23px 34px;
		width: 100%;
		justify-content: center;
		border: none;
		outline: none;
	}
}

.btn-more{
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: $mainColor;
	span{
		&:last-child:not(:first-child){
			width: 44px;
			height: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 12px;
			color: #ffffff;
			background: $mainColor;
			border-radius: 50%;
		}
	}
	svg, img{
		width: 14px;
		height: 14px;
		object-fit: contain;
		display: block;
		flex-shrink: 0;
	}
	&--light{
		color: #ffffff;
		span{
			&:last-child:not(:first-child){
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}
}

.section{
	position: relative;
	padding: 60px 0 113px;
	&__title{
		color: #193762;
		font-size: 100px;
		font-weight: 700;
		line-height: 72%;
		margin-bottom: 60px;
	}
	&__btn{
		margin-top: 26px;
		.btn-arrow{
			justify-content: center;
		}
	}
	&--white{
		background: #ffffff;
	}
}


.text-style{
	@extend .fs20;
}