h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

body{
	background: #E8EBEF;
	font-family: 'Gilroy', sans-serif;
}

.container{
	width: 100%;
	max-width: 1480px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;
}


.fs20{
	font-size: 20px;
	font-style: normal;
	line-height: 1.2;
}
.link{
	color: $mainColor;
	text-decoration: none;
	&:hover{
		color: $orange;
	}
}

.btn-orange{
	border-radius: 1000px;
	background: $orange;
	color: #FFF;
	padding: 24px 34px;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	position: relative;
	z-index: 3;
	transition: transform 0.2s;
	cursor: pointer;
	&::before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background: #310606;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -2;
		transition: transform 0.2s;
	}
	&::after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background: $orange;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&:hover{
		&::before{
			transform: translateY(10px);
		}
	}
	&:active{
		transform: translateY(10px);
		&::before{
			transform: translateY(0);
		}
	}
}
.btn-arrow{
	@extend .btn-orange;
	display: flex;
	align-items: center;
	svg, img{
		width: 14px;
		height: 14px;
		object-fit: contain;
		display: block;
		flex-shrink: 0;
		margin-left: 12px;
	}
}