h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}

body {
	background: #E8EBEF;
	font-family: 'Gilroy', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-main{
	flex-grow: 1;
}

.container {
	width: 100%;
	max-width: 1480px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;
}


.fs20 {
	font-size: 20px;
	font-style: normal;
	line-height: 1.2;
	@include max(md){
		font-size: 16px;
	}
}

.link {
	color: $mainColor;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: $orange;
	}
}
label{
	cursor: pointer;
}
.btn-orange {
	border-radius: 1000px;
	background: $orange;
	color: #FFF;
	padding: 24px 34px;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	position: relative;
	z-index: 3;
	transition: transform 0.2s;
	cursor: pointer;

	&::before {
		content: "";
		display: block;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		top: 1px;
		left: 1px;
		border-radius: inherit;
		background: #310606;
		position: absolute;
		z-index: -2;
		transition: transform 0.2s;
	}

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background: $orange;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&:hover {
		&::before {
			transform: translateY(10px);
		}
	}

	&:active {
		transform: translateY(10px);

		&::before {
			transform: translateY(0);
		}
	}
}

.btn-arrow {
	@extend .btn-orange;
	display: flex;
	align-items: center;

	svg,
	img {
		width: 14px;
		height: 14px;
		object-fit: contain;
		display: block;
		flex-shrink: 0;
		margin-left: 12px;
	}

	&--2row {
		padding-left: 40px;
		padding-right: 40px;

		>span {
			display: block;
			text-align: left;
			min-width: 247px;

			>span {
				display: block;

				&:last-child:not(:first-child) {
					font-size: 16px;
					margin-top: 2px;
				}
			}
		}
	}

	&--grey {
		background: #E3E7EC;
		color: $mainColor;

		&::after {
			background: #E3E7EC;

		}
	}

	&--dark-grey {
		background: #BFC7D3;
		color: $mainColor;
		&::after {
			background: #BFC7D3;
		}
	}

	&--blue {
		background: $mainColor;
		&::after {
			background: $mainColor;
		}
	}

	&--orange-svg {
	 	svg {
			color: $orange;
		}
	}

	&--centred{
		justify-content: center;
	}

	&--icon-cross{
		img,svg{
			margin-left: 8px;
			margin-bottom: -2px;
		}
	}

	&--size-for-form {
		padding: 23px 34px;
		width: 100%;
		justify-content: center;
		border: none;
		outline: none;
	}
	&--w100{
		width: 100%;
	}
	&--size-small-d-h32 {
		padding: 9px 11px 9px 18px;
		justify-content: center;
		border: none;
		outline: none;


		letter-spacing: 0.15px;
		font-weight: 700;
		font-size: 13px;
		line-height: 90%;

		svg,
		img {
			width: 11px;
			margin-left: 5px;
		}

		&:hover {
			&::before {
				transform: translateY(5px);
			}
		}

		&:active {
			transform: translateY(5px);

			&::before {
				transform: translateY(0);
			}
		}
	}
	&--right{
		svg,
		img {
			margin-left: 6px;
			margin-top: 3px;
			width: 16px;
		}

	}
}

.btn-more {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: $mainColor;

	span {
		&:last-child:not(:first-child) {
			width: 44px;
			height: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 12px;
			color: #ffffff;
			background: $mainColor;
			border-radius: 50%;
		}
	}

	svg,
	img {
		width: 14px;
		height: 14px;
		object-fit: contain;
		display: block;
		flex-shrink: 0;
	}

	&--light {
		color: #ffffff;

		span {
			&:last-child:not(:first-child) {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}
}

.section {
	position: relative;
	padding: 60px 0 113px;

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__slider-navigation {
		display: flex;
		justify-content: flex-end;
		z-index: 2;

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}
	&__slider-nav {
		width: 44px;
		height: 44px;
		margin-left: 12px;
		background: #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition-duration: .3s;

		&--gray {
			background: #E8EBEF;
		}


		&::before {
			content: '';
			display: block;
			background: url(../img/svg/slider-arrow-blue.svg) no-repeat center center;
			background-size: contain;
			width: 13px;
			height: 11px;
		}

		&--prev {
			&::before {
				margin-left: -1px;
				transform: rotate(180deg);
			}
		}

		&--next {
			&::before {
				margin-left: 1px;
			}

		}

		&:hover{
			opacity: .8;
		}
		&.swiper-button-disabled{
			opacity: 0;
			pointer-events: none;
		}
	}
	&__title {
		color: #193762;
		font-size: 50px;
		font-weight: 700;
		line-height: 72%;
		margin-bottom: 60px;

		&--slider {
			margin-bottom: 36px;
		}
	
		@media only screen and (max-width: 767px) {
			width: 100%;
		}
		@media only screen and (max-width: 480px) {
			font-size: 36px;
		}
	}

	&__btn {
		margin-top: 26px;

		.btn-arrow {
			justify-content: center;
		}
	}

	&__slider {
		&--mt100 {
			margin-top: 100px;
		}
	}

	&--white {
		background: #ffffff;
	}
}


.text-style {
	@extend .fs20;
}


.btn-circle {
	position: relative;
	align-items: center;

	text-decoration: none;
	cursor: pointer;
	background: $orange;
	border-radius: 1000px;
	transition: all 0.3s;
	border: 0;

	min-height: 45px;
	display: flex;
	justify-content: center;
	color: #FFF;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	background: transparent;
	padding-left: 0;
	padding-right: 0;
	transition: all 0.3s;

	/*&::after {
		position: relative;
		display: block;
		margin-left: 12px;
		padding-top: 5px;
		content: url(../img/svg/small-circle-btn-arrow.svg);
	}*/

	@media only screen and (max-width: 1300px) {
		font-size: 20px;
		font-style: normal;
		line-height: 135%;
		letter-spacing: 0.36px;
		min-height: 45px;
	}


	@media only screen and (max-width: 767px) {
		font-size: 14px;
		font-style: normal;
		line-height: 135%;
		letter-spacing: 0.36px;
		min-height: 34px;
	}


	&--blue {}

	&--orange {}

	&__icon {
		transition: all 0.3s;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 0;
		width: 45px;
		height: 45px;
		margin-left: 18px;
		margin-top: 0px;
		border-radius: 50%;

		&::after {
			content: '';
			display: block;
			width: 11px;
			height: 8px;
			background: url(../img/svg/small-circle-btn-arrow.svg) no-repeat center center;
			background-size: contain
			//position: absolute;
			//top: 50%;
			//transform: translateY(-50%);
		}

		@media only screen and (max-width: 1300px) {
			width: 30px;
			height: 30px;
			margin-left: 8px;
		}
		&--custom-image{
			display: flex;
			justify-content: center;
			align-items: center;
			@media only screen and (max-width: 1300px){
			width: 35px;
			height: 35px;

			img,svg{
				width: 60%;
				height: 60%;
			}

			}
			&::after{
				display: none;
			}
			img,svg{
				width: 22px;
				height: 23px;
				object-fit: contain;
				object-position: center center;
			}
		}
	}

	&::after {
		display: none;
	}

	@media only screen and (min-width: 768px) {
		&:hover {
			transition: all 0.3s;
			background: rgba(255, 255, 255, 0.2);
			padding-left: 20px;

			.btn-circle__icon {
				transition: all 0.3s;
			}
		}
	}

	&--white {
		.btn-circle__icon {
			background: rgba(255, 255, 255, 0.2);
		}
	}

	&--blue {
		color: #1b316d;

		@media only screen and (min-width: 768px) {
			&:hover {
				background: #1b316d;
				color: #FFF;
			}
		}

		.btn-circle__icon {
			background: #1b316d;
		}
	}

	&--orange {
		color: $orange;

		@media only screen and (min-width: 768px) {
			&:hover {
				background: $orange;
				color: #FFF;
			}
		}

		.btn-circle__icon {
			background: $orange;
		}
	}

	&--small-h32{
		min-height: 32px;
		font-size: 13px;
		line-height: 90%;
		font-weight: 700;

		@media only screen and (max-width: 1300px) {
			min-height: 32px;
			font-size: 13px;
			line-height: 90%;
		}


		@media only screen and (max-width: 767px) {
			min-height: 32px;
			font-size: 13px;
			line-height: 90%;
		}




		.btn-circle__icon{
			width: 32px;
			height: 32px;
			margin-left: 11px;
			margin-top: 0;
			&::after {
			}
		}
		@media only screen and (min-width: 768px) {
			&:hover {
				padding-left: 16px;
				.btn-circle__icon{
					//margin-left: 0px;
				}
			}
		}
	}
}



.simple-padding-before-footer{
	margin-top: 94px;

	@media only screen and (max-width: 1300px) {
		margin-top: 70px;
	}


	@media only screen and (max-width: 767px) {
		margin-top: 50px;
	}

}

.simplebar-scrollbar:before {
    top: 0px;
    bottom: 0px;
    background: #193762;
	cursor: pointer;
	opacity: 1 !important;

	@media only screen and (max-width: 767px) {
		top: 0px;
		bottom: 4px;
	}
}

.scroll-locked{
	overflow: hidden;
}